// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "../base_theme_overrides/alert";
@import "../base_theme_overrides/ajax";
@import "../base_theme_overrides/field";
@import "../base_theme_overrides/file";
@import "../base_theme_overrides/filter";
@import "../base_theme_overrides/form";
@import "../base_theme_overrides/icon";
@import "../base_theme_overrides/navbar";
@import "../base_theme_overrides/node";
@import "../base_theme_overrides/panel";
@import "../base_theme_overrides/progress-bar";
@import "../base_theme_overrides/table-drag";
@import "../base_theme_overrides/tabs";
@import "../base_theme_overrides/toolbar";

// jQuery UI style overrides.
//@import "jquery-ui/autocomplete";

ol,
ul {
  padding-left: 1.5em;

  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #e5e5e5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }

  .block {
    overflow: hidden;
  }
}

.help-block,
.control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}
