//
// -- Administrator styling
//
// Called on all pages, regardless of role.
// Styling of admin elements.

nav.tabs {

  @extend .col-xs-12;

  ul.tabs--primary.nav.nav-tabs {

    @extend .nav-pills;
    border-bottom-color: transparent;
    > li {
      a, a:hover {
        @extend .btn;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        text-decoration: none;
      }
    }

  }

}