//  -- Mixins
//
// Site-wide, special UWM mixins and extends.
//
@mixin uw-skew($angle) {

  transform: skew($angle);
  transition-timing-function: ease-in;
  transition: 0.2s;
  // Chrome jagged line fix
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

@mixin uw-separator($angle: false) {

  @if $angle {
    @include uw-skew($angle);
  }

  height: 1em;
  width: 1em;
  margin: 0 1em;
  border-right: 1px solid transparent;
  display: inline-block;
}

@mixin uw-awesome-ico() {
  // TODO: Include Fontawesome SASS to allow extends.
  // @ extend .fa;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@mixin uw-bottom-accent-heading($border-color: $uwmed-dark-yellow) {

  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;

  &:after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -8px;
    width: 30px;
    border-style: solid;
    border-width: 3px 2px 0 0;
    border-color: $border-color transparent transparent transparent;
    @content;
  }
  &.teal:after {
    border-color: $uwmed-accent-teal transparent transparent transparent;
  }
  &.orange:after {
    border-color: $uwmed-accent-orange transparent transparent transparent;
  }
  &.blue:after {
    border-color: $uwmed-accent-blue transparent transparent transparent;
  }
  &.tan:after {
    border-color: $uwmed-accent-tan transparent transparent transparent;
  }

}

@mixin uw-ghost-button($button-el, $accent-el, $accent-color: $uwmed-menu-yellow) {

  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
  margin-top: 6px;

  #{$button-el}, #{$button-el} * {
    color: $uwmed-body-text-color;
    background-color: $uwmed-white;
    cursor: pointer;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: 0 none;
  }

  #{$button-el} {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 6px 25px;
    z-index: 1;
    text-align: center;
    border: 1px solid $accent-color;
    transition-property: color;
    transition-duration: 0.5s;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $accent-color;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      z-index: -1;
    }

    &:hover {
      
      color: $uwmed-light-purple;
      @if $accent-color != $uwmed-menu-yellow {
        color: $uwmed-white;
        a {
          color: $uwmed-white;
        }
      }
      //#{$button-el}, #{$button-el} * {
      //  color: $uwmed-light-purple;
      //  @if $accent-color != $uwmed-menu-yellow {
      //    color: white !important;
      //  }
      //}

      @media(hover: none) {
        transition-duration: 0s;
      }

      &:before {
        transform: scaleX(1);
        transition-timing-function: $transition-timing-function;

        @media(hover: none) {
          transition-duration: 0s;
        }
      }
    }
  }

  #{$accent-el} {
    @include uw-skew(-45deg);
    position: absolute;
    display: block !important;
    top: -6px;
    left: -11px;
    height: 20px;
    width: 20px;
    background: $accent-color;
  }

  @content;
}
