//  -- Mixins
//
// Site-wide, special UWM mixins and extends.
//

@mixin uwmed-bezier-transition-transition-timing() {
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@mixin uwmed-no-transition() {
  transition-timing-function: unset;
  transition: none !important;
}

@mixin uw-skew($angle) {

  transform: skew($angle);
  transition-timing-function: ease-in;
  transition: 0.2s;
  // Chrome jagged line fix
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

@mixin uw-well() {
  @extend .well;
  border: 0 none;
  margin: 30px 0;
  background: transparent;
  box-shadow: none;
  @content;
}

@mixin uw-separator($angle: false) {

  @if $angle {
    @include uw-skew($angle);
  }

  height: 1em;
  width: 1em;
  margin: 0 1em;
  border-right: 1px solid transparent;
  display: inline-block;
}

@mixin uw-awesome-ico() {
  // TODO: Include Fontawesome SASS to allow extends.
  // @ extend .fa;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@mixin uw-bottom-accent-heading($border-color: $uwmed-dark-yellow) {

  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;

  &:after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -8px;
    width: 30px;
    border-style: solid;
    border-width: 3px 2px 0 0;
    border-color: $border-color transparent transparent transparent;
    @content;
  }
  &.teal:after {
    border-color: $uwmed-accent-teal transparent transparent transparent;
  }
  &.orange:after {
    border-color: $uwmed-accent-orange transparent transparent transparent;
  }
  &.blue:after {
    border-color: $uwmed-accent-blue transparent transparent transparent;
  }
  &.tan:after {
    border-color: $uwmed-accent-tan transparent transparent transparent;
  }

}

@mixin uw-ghost-button($button-el, $accent-el, $accent-color: $uwmed-menu-yellow) {

  position: relative;
  overflow: hidden;
  margin-bottom: 6px;
  margin-top: 6px;

  #{$button-el}, #{$button-el} a {
    color: $uwmed-body-text-color;
    cursor: pointer;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: 0 none;
  }

  #{$button-el} {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 6px 25px;
    z-index: 1;
    text-align: center;
    border: 1px solid $accent-color;
    transition-property: color;
    transition-duration: 0.5s;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $accent-color;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      z-index: -1;
    }

    &:hover {

      color: $uwmed-light-purple;
      @if $accent-color != $uwmed-menu-yellow {
        color: $uwmed-white;
        a {
          color: $uwmed-white;
        }
      }

      &:before {
        transform: scaleX(1);
        @include uwmed-bezier-transition-transition-timing();
        @media(max-width: $screen-md-max) {
          @include uwmed-no-transition();
        }
      }

    }
  }

  #{$accent-el} {
    @include uw-skew(-45deg);
    position: absolute;
    display: block !important;
    top: -6px;
    left: -11px;
    height: 20px;
    width: 20px;
    background: $accent-color;
  }

  @content;
}

@mixin uw-equal-height-row($row-container, $cell-container, $cell-cell: false) {

  #{$row-container} #{$cell-container} {
    flex: 1;
    margin-bottom: 15px;

    @if #{$cell-cell} {
      display: flex;

      #{$cell-cell} {
        display: flex;
        flex: 1;
      }
    }

  }

  #{$row-container} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    width: 100%;
  }

  @content;
}
