//  -- Mixins
//
// Site-wide, special UWM mixins and extends.
//

@mixin uwmed-bezier-transition-transition-timing() {
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@mixin uwmed-link-color-transition-timing() {
  transition: color 400ms, text-decoration 500ms;
}

@mixin uwmed-box-show-hide-transition($show-selector, $hide-selector) {

  #{$show-selector} {
    opacity: 1;
    display: block;
    animation: showAnimation 350ms ease-in;
  }
  #{$hide-selector} {
    opacity: 0;
    display: none;
    animation: showAnimation 120ms ease-in-out;
  }

  @keyframes showAnimation {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: block;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}

@mixin uwmed-no-transition() {
  transition-timing-function: unset;
  transition: none !important;
}

@mixin uw-skew($angle) {

  transform: skew($angle);
  transition-timing-function: ease-in;
  transition: 0.2s;
  // Chrome jagged line fix
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

@mixin uw-well() {
  @extend .well;
  border: 0 none;
  margin: 15px 0 30px 0;
  padding: 15px;
  background: transparent;
  box-shadow: none;
  @content;
}

@mixin uw-separator($angle: false) {

  @if $angle {
    @include uw-skew($angle);
  }

  height: 1em;
  width: 1em;
  margin: 0 1em;
  border-right: 1px solid transparent;
  display: inline-block;
}

@mixin uw-awesome-ico() {
  // TODO: Include Fontawesome SASS to allow extends.
  // @ extend .fa;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

@mixin uw-bottom-accent-heading($border-color: $uwmed-dark-yellow) {

  position: relative;
  margin-bottom: 20px;
  &:after {
    position: absolute;
    content: " ";
    display: block;
    left: 0;
    bottom: -8px;
    width: 30px;
    border-style: solid;
    border-width: 3px 2px 0 0;
    border-color: $border-color transparent transparent transparent;
  }

  &.teal:after {
    border-color: $uwmed-accent-teal transparent transparent transparent;
  }
  &.orange:after {
    border-color: $uwmed-accent-orange transparent transparent transparent;
  }
  &.blue:after {
    border-color: $uwmed-accent-blue transparent transparent transparent;
  }
  &.tan:after {
    border-color: $uwmed-accent-tan transparent transparent transparent;
  }

  @content;
}

@mixin uw-ghost-button($button-el, $accent-el, $accent-color: $uwmed-menu-yellow) {

  #{$button-el}, #{$button-el} a {
    color: $uwmed-body-text-color;
    cursor: pointer;
    border-radius: 0;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: 0 none;
  }

  #{$button-el} {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 6px 25px;
    z-index: 1;
    text-align: center;
    border: 1px solid $accent-color;
    transition-property: color;
    transition-duration: 0.5s;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $accent-color;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      z-index: -1;
    }

    &:hover {

      color: $uwmed-light-purple;
      @if $accent-color != $uwmed-menu-yellow {
        color: $uwmed-white;
        a {
          color: $uwmed-white;
        }
      }

      &:before {
        transform: scaleX(1);
        @include uwmed-bezier-transition-transition-timing();
        @media(max-width: $screen-md-max) {
          @include uwmed-no-transition();
        }
      }

    }
  }

  #{$accent-el} {
    @include uw-skew(-45deg);
    position: absolute;
    display: block !important;
    top: -6px;
    left: -11px;
    height: 20px;
    width: 20px;
    background: $accent-color;
  }

  @content;
}

@mixin uw-equal-height-row($flex-row, $flex-item: null) {

  @media(min-width: $screen-sm-min) {

    #{$flex-row} {
      display: flex;
      flex-wrap: wrap;
    }
    @if $flex-item {
      #{$flex-item} {
        flex: 1;
      }
    }

    @content;
  }

}


@mixin uw-open-scheduling-rules() {
  .open-scheduling-enabled {
    .os-show {
      display: block;
    }
    a.os-show, span.os-show {
      display: inline-block;
    }
    .os-hide {
      display: none;
    }
  }
  .os-show {
    display: none;
  }
}