$uw-theme-folder: '/themes/custom/uwmed';
$uw-images-folder: '/themes/custom/uwmed/dist/assets';



// Colors
//
// Variables to define UW Medicine Brand Colors. All colors can be lightened by <strong>xx</strong> percent (4 variations).
// All brand color variables are prefixed with <code>$uwmed-</code>.
//
// Style guide: 2

// Primary Palette
//
// Variables to define the primary palette.
//
// Markup:
// <div class="kss-swatch" style="background-color: #32006e">
//   <div class="kss-swatch__hex">$uwmed-purple:<br>#32006e</div>
// </div>
// <div class="kss-swatch" style="background-color: #c3c5c8">
//   <div class="kss-swatch__hex">$uwmed-gray:<br>#c3c5c8</div>
// </div>
// <div class="kss-swatch" style="background-color: #333d47">
//   <div class="kss-swatch__hex">$uwmed-black<br>#333d47</div>
// </div>
//
// Style guide 2.1

$uwmed-purple: #32006e;
$uwmed-light-purple: #4B2E83;
$uwmed-white: #fff;
$uwmed-gray: #b5b5b5;
$uwmed-black: #333d47;
$uwmed-gray-dark: #5F6267;

// Secondary Palette
//
// Variables to define the secondary palette.
//
// Markup:
// <div class="kss-swatch" style="background-color: #7be0d8">
//   <div class="kss-swatch__hex">$uwmed-acqua<br>#7be0d8</div>
// </div>
// <div class="kss-swatch" style="background-color: #00b3e4">
//   <div class="kss-swatch__hex">$uwmed-bright-blue<br>#00b3e4</div>
// </div>
// <div class="kss-swatch" style="background-color: #00c496">
//   <div class="kss-swatch__hex">$color-bright-green<br>#00c496</div>
// </div>
// <div class="kss-swatch" style="background-color: #f8bd00">
//   <div class="kss-swatch__hex">$uwmed-yellow<br>#f8bd00</div>
// </div>
// <div class="kss-swatch" style="background-color: #ef7251">
//   <div class="kss-swatch__hex">$uwmed-orange<br>#ef7251</div>
// </div>
//
// Style guide: 2.2

$uwmed-acqua: #7be0d8;
$uwmed-bright-blue: #00b3e4;
$uwmed-bright-green: #00c496;
$uwmed-yellow: #f8bd00;
$uwmed-dark-yellow: #ffce00;
$uwmed-orange: #ef7251;

// Tertiary Palette
//
// Variables to define the tertiary palette.
//
// Markup:
// <div class="kss-swatch" style="background-color: #e2231a">
//   <div class="kss-swatch__hex">$uwmed-red<br>#e2231a</div>
// </div>
// <div class="kss-swatch" style="background-color: #5e4528">
//   <div class="kss-swatch__hex">$uwmed-brown<br>#5e4528</div>
// </div>
// <div class="kss-swatch" style="background-color: #f8e0a4">
//   <div class="kss-swatch__hex">$uwmed-tan<br>#f8e0a4</div>
// </div>
// <div class="kss-swatch" style="background-color: #004987">
//   <div class="kss-swatch__hex">$uwmed-dark-blue<br>#004987</div>
// </div>
// <div class="kss-swatch" style="background-color: #007549">
//   <div class="kss-swatch__hex">$uwmed-dark-green<br>#007549</div>
// </div>
//
// Style guide: 2.3

$uwmed-red: #e2231a;
$uwmed-brown: #5e4528;
$uwmed-tan: #f8e0a4;
$uwmed-dark-blue: #004987;
$uwmed-dark-green: #007549;

// Accent Palette
//
// Variables to define the accent palette.
//
// Markup:
// <div class="kss-swatch" style="background-color: #008995">
//   <div class="kss-swatch__hex">$uwmed-accent-teal<br>#008995</div>
// </div>
// <div class="kss-swatch" style="background-color: #D2430F">
//   <div class="kss-swatch__hex">$uwmed-accent-orange<br>#D2430F</div>
// </div>
// <div class="kss-swatch" style="background-color: #2C6ACE">
//   <div class="kss-swatch__hex">$uwmed-accent-blue<br>#2C6ACE</div>
// </div>
// <div class="kss-swatch" style="background-color: #EFEFEF">
//   <div class="kss-swatch__hex">$uwmed-accent-tan<br>#EFEFEF</div>
// </div>
// <div class="kss-swatch" style="background-color: #FFCE00">
//   <div class="kss-swatch__hex">$uwmed-accent-yellow<br>#FFCE00</div>
// </div>
//
// Style guide: 2.4

$uwmed-accent-teal: #008995;
$uwmed-accent-orange: #D2430F;
$uwmed-accent-blue: #2C6ACE;
$uwmed-accent-tan: #EFEFEF;
$uwmed-accent-yellow: #FFCE00;

$uwmed-purple-icon: #4B2E83;
$uwmed-gray-icon: #716F77;

// Gradient Palette
//
// Variables to define the gradient palette and a light-to-dark gradient style.
//
// Markup:
// <div class="kss-swatch kss-swatch-gradient" style="background-image: linear-gradient(to right, #37236a 66%, #6f3178);">
//   <div class="kss-swatch__hex">$uwmed-gradient-light-to-dark<br>linear-gradient(to right, #6f3178 66%, #37236a)</div>
// </div>
// <div class="kss-swatch" style="background-color: #37236a">
//   <div class="kss-swatch__hex">$uwmed-gradient-dark-purple<br>#37236a</div>
// </div>
// <div class="kss-swatch" style="background-color: #6f3178">
//   <div class="kss-swatch__hex">$uwmed-gradient-light-purple<br>#6f3178</div>
// </div>
//
// Style guide: 2.5

$uwmed-dark-purple: #37236a;
$uwmed-gradient-dark-purple: #37236a;
$uwmed-gradient-light-purple: #6f3178;
$uwmed-gradient-light-to-dark: linear-gradient(95deg, $uwmed-gradient-dark-purple, $uwmed-gradient-dark-purple 45%, $uwmed-gradient-light-purple);
$uwmed-solid-dark-purple: #3f3952;


  $uwmed-light-gray: #DFE1E3;
  $uwmed-medium-gray: #9da1a6;
  $uwmed-dark-gray: #485464;
  $uwmed-pop-blue: #3375d4;
  $uwmed-menu-gray: #676868;
  $uwmed-menu-yellow: #FFc700;
  $uwmed-tab-purple: #3F3952;



  // Bootstrap Color Variables
  //
  // Gray and brand colors for use across Bootstrap.
  //
  // Style guide 2.6

  // TODO: Add markup with a palette for these variables
  $gray-base:             $uwmed-black;
  $gray-darker:           lighten($gray-base, 13.5%);
  $gray-dark:             $uwmed-gray-dark;
  $gray:                  lighten($gray-base, 33.5%);
  $gray-light:            lighten($gray-base, 46.7%);
  $gray-lighter:          lighten($gray-base, 93.5%);
  $brand-primary:         $uwmed-purple;
  $brand-success:         $uwmed-bright-green;
  $brand-info:            $uwmed-bright-blue;
  $brand-warning:         $uwmed-orange;
  $brand-danger:          $uwmed-red;


  // Typography
  //
  // Variables to define UW Medicine brand fonts and colors.
  //
  // The variables set in this file include the standard <strong>Bootstrap Typography variables</strong>
  // extracted from <code>_bootstrap_variables.scss</code>. The standard <strong>Bootstrap Type styles</strong> are overriden in
  // the file <code>../boostrap_overrides/_type.scss</code>.
  //
  // Style guide: 1

  /* Typography Colors */
  $uwmed-body-text-color: #474747;
  $uwmed-link-color: #474747;

  /* Font Families */
  $font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
  $font-family-sans-serif-condensed:  "Encode Sans Condensed", "Open Sans", Helvetica, Arial, sans-serif;
  $font-family-serif:       Georgia, "Times New Roman", Times, serif;
  $font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
  $headings-font-family:    "Encode Sans", sans-serif;

  /* Base Font Family */
  $font-family-base:        $font-family-sans-serif;

  /* Base Font Color */
  $text-color:            $uwmed-body-text-color;

  /* Base Font Sizes */
  $font-size-base:          14px;
  $font-size-large:         ceil(($font-size-base * 1.25)); // 35px
  $font-size-small:         ceil(($font-size-base * 0.85)); // 12px

  /* Base Line Heights */
  //** Unit-less `line-height` for use in components like buttons.
  $line-height-base:        1.35714286;
  //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
  $line-height-computed:    floor(($font-size-base * $line-height-base)); // 19px

  // Headings
  //
  // Heading styles are applied via tag names, but also available via classes, to accommodate
  // semantic markup. For instance, an h3 tag could get h4 styling applied with &lt;h3 class="h4"&gt;&lt;/h3&gt;.
  //
  // Markup:
  // <div style="background-color: #32006e;">
  //   <h1>h1 Heading One</h1>
  // </div>
  // <h2>h2 Heading Two</h2>
  // <h3>h3 Heading Three</h3>
  // <h4>h4 Heading Four</h4>
  // <div style="background-color: #32006e;">
  //   <h5>h5 Heading Five</h5>
  //   <h6>h6 Heading Six</h6>
  // </div>
  // <p class="h2">p masquerading as h2</p>
  // <h4 class="h3">h4 masquerading has h3</h4>
  // </div>
  //
  // Style guide: 1.1

  /* Heading Font Sizes */
  $font-size-h1-mobile:     ceil(($font-size-base * 2.28)); // 32px
  $font-size-h1:            ceil(($font-size-base * 4.07)); // 57px
  $font-size-h2-mobile:     ceil(($font-size-base * 1.64)); // 23px
  $font-size-h2:            ceil(($font-size-base * 2.5)); // 35px
  $font-size-h3:            ceil(($font-size-base * 0.92)); // 13px
  $font-size-h4-mobile:     ceil(($font-size-base * 1.14)); // 16px
  $font-size-h4:            ceil(($font-size-base * 1.78)); // 25px
  $font-size-h5:            ceil(($font-size-base * 1.21)); // 17px
  $font-size-h6:            ceil(($font-size-base * 0.92)); // 13px

  /* Heading Font Weights */
  $headings-font-weight:    400;
  $headings-font-weight-h3: 500;
  $headings-font-weight-h5: 600;

  /* Heading Line Heights */
  $headings-line-height:    1.1;
  $line-height-h1-mobile:     ceil(($font-size-h1-mobile * 1.25)); // 40px
  $line-height-h1:            ceil(($font-size-h1 * 1.15)); // 72px
  $line-height-h2-mobile:     ceil(($font-size-h2-mobile * 1.2)); // 32px
  $line-height-h2:            ceil(($font-size-h2 * 1.2)); // 46px
  $line-height-h3:            ceil(($font-size-h3 * 1.2)); // 16px
  $line-height-h4-mobile:     ceil(($font-size-h4-mobile * 1.2)); // 22px
  $line-height-h4:            ceil(($font-size-h4 * 1.2)); // 30px
  $line-height-h5:            ceil(($font-size-h5 * 1.2)); // 12px
  $line-height-h6:            ceil(($font-size-h6 * 1.2)); // 12px

  /* Heading Font Colors */
  $headings-color: $uwmed-body-text-color;
  $heading-color-h1-mobile: $uwmed-body-text-color;
  $heading-color-h1: #000;
  $heading-color-h5: #000;
  $heading-color-h6: #000;

  // Paragraphs
  //
  // Text styles for &lt;p&gt; tags.
  //
  // Markup: <p style="color: #474747;">Hello, I am sample paragraph text. Leverage agile frameworks to provide a robust
  // synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further
  // the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace
  // diversity and empowerment.</p>
  // <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end
  // of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a
  // streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
  //
  // Style guide: 1.2

  /* See Base Font Family, Base Font Color, and Base Font Sizes above */

  // Links
  //
  // Text styles for &lt;a&gt; tag links.
  //
  // Markup: <p>Hello, I am sample paragraph text with links. Leverage agile frameworks to provide a robust
  // synopsis for high level overviews. Iterative <a href="#">approaches to corporate strategy</a>
  // foster collaborative thinking to further the overall value proposition. Organically grow the <a href="#">holistic
  // world view</a> of disruptive innovation via workplace diversity and empowerment.</p>
  // <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward,
  // a new normal that has evolved from generation X is on the runway heading towards a <a href="#">streamlined cloud
  // solution.</a> Usergenerated content in real-time will have multiple touchpoints for offshoring.</p>
  //
  // Style guide: 1.3

  //** Global textual link color.
  $link-color:             $uwmed-link-color;
  //** Link hover color set via `darken()` function.
  $link-hover-color:      $uwmed-pop-blue;
  //** Link decoration.
  $link-decoration: underline;
  //** Link hover decoration.
  $link-hover-decoration: underline;



%uwmed-mixin-gradient-light-to-dark {
  background: linear-gradient(95deg, $uwmed-gradient-dark-purple, $uwmed-gradient-dark-purple 45%, $uwmed-gradient-light-purple);
}

%uwmed-gradient-angled-background {
  background-image: url('#{$uw-images-folder}/angled-bg-light.png');
}

%uwmed-gradient-angled-dark-background {
  background-image: url('#{$uw-images-folder}/angled-bg-light.png');
  background-color: #F8F8F8;
}

%uwmed-box-shadow {
  box-shadow: 1px 1px 10px 1px #dcdcdc;
}

%uwmed-absolute-bg-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}