//
// --- UW Custom Icons
//
i.uw-ico, span.uwmed-icon {

  //@include uw-awesome-ico();
  b {
    display: none;
  }
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 50%;


  &.uw-ico-dir-auto {
    background-image: url('#{$uw-images-folder}/Icons/icon_drive.svg');
  }
  &.uw-ico-dir-public {
    background-image: url('#{$uw-images-folder}/Icons/icon_transit.svg');
  }
  &.uw-ico-dir-parking {
    background-image: url('#{$uw-images-folder}/Icons/icon_parking.svg');
  }
  &.uw-ico-dir-biking {
    background-image: url('#{$uw-images-folder}/Icons/icon_bike.svg');
  }
  &.uw-ico-dir-walking {
    background-image: url('#{$uw-images-folder}/Icons/icon_walk.svg');
  }

  &.5_star_rating {
    //icon_5_star_rating.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_5_star_rating.svg');
  }
  &.accepting_patients {
    //icon_accepting_patients.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_accepting_patients.svg');
  }
  &.appointment,
  &.uwmed-icon__appointment {
    //icon_appointment.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_appointment.svg');
  }
  &.bike {
    //icon_bike.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_bike.svg');
  }
  &.bike_selected {
    //icon_bike_selected.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_bike_selected.svg');
  }
  &.call_online {
    //icon_call_online.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_call_online.svg');
  }
  &.call_solid {
    //icon_call_solid.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_call_solid.svg');
  }
  &.careers {
    //icon_careers.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_careers.svg');
  }
  &.clinic_locations {
    //icon_clinic_locations.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_clinic_locations.svg');
  }
  &.drive {
    //icon_drive.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_drive.svg');
  }
  &.drive_selected {
    //icon_drive_selected.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_drive_selected.svg');
  }
  &.driving_directions {
    //icon_driving_directions.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_driving_directions.svg');
  }
  &.email {
    //icon_email.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_email.svg');
  }
  &.fb {
    //icon_fb.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_fb.svg');
  }
  &.find_a_doctor {
    //icon_find_a_doctor.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_find_a_doctor.svg');
  }
  &.find_a_location {
    //icon_find_a_location.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_find_a_location.svg');
  }
  &.instagram {
    //icon_instagram.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_instagram.svg');
  }
  &.languages,
  &.uwmed-icon__languages {
    //icon_languages.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_languages.svg');
  }
  &.linkedin {
    //icon_linkedin.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_linkedin.svg');
  }
  &.media,
  &.uwmed-icon__media {
    //icon_media.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_media.svg');
  }
  &.medical_research {
    //icon_medical_research.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_medical_research.svg');
  }
  &.medical_services {
    //icon_medical_services.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_medical_services.svg');
  }
  &.medical_specialists {
    //icon_medical_specialists.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_medical_specialists.svg');
  }
  &.my_location {
    //icon_my_location.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_my_location.svg');
  }
  &.not_accepting_patients {
    //icon_not_accepting_patients.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_not_accepting_patients.svg');
  }
  &.parking {
    //icon_parking.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_parking.svg');
  }
  &.parking_selected {
    //icon_parking_selected.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_parking_selected.svg');
  }
  &.patient_resources,
  &.uwmed-icon__patient-resource {
    //icon_patient_resources.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_patient_resources.svg');
  }
  &.pdf,
  &.uwmed-icon__pdf {
    //icon_pdf.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_pdf.svg');
  }
  &.pinterest {
    //icon_pinterest.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_pinterest.svg');
  }
  &.print {
    //icon_print.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_print.svg');
  }
  &.provider {
    //icon_provider.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_provider.svg');
  }
  &.provider_bio {
    //icon_provider_bio.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_provider_bio.svg');
  }
  &.provider_interests {
    //icon_provider_interests.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_provider_interests.svg');
  }
  &.provider_interests_alt {
    //icon_provider_interests_alt.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_provider_interests_alt.svg');
  }
  &.refer_patient {
    //icon_refer_patient.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_refer_patient.svg');
  }
  &.request_translation {
    //icon_request_translation.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_request_translation.svg');
  }
  &.search {
    //icon_search.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_search.svg');
  }
  &.transit {
    //icon_transit.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_transit.svg');
  }
  &.transit_selected {
    //icon_transit_selected.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_transit_selected.svg');
  }
  &.twitter {
    //icon_twitter.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_twitter.svg');
  }
  &.walk {
    //icon_walk.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_walk.svg');
  }
  &.walk_selected {
    //icon_walk_selected.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_walk_selected.svg');
  }
  &.youtube {
    //icon_youtube.svg
    background-image: url('#{$uw-images-folder}/Icons/icon_youtube.svg');
  }

  &.uwmed-icon__heart-waveform::before {
    @include uw-awesome-ico();
    content: "\f21e";
    font-size: 20px;
  }

}


