
#cboxOverlay {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

#colorbox {

  z-index: 500;

  &:focus {
    outline-color: #37236a;
  }

  #cboxContent {

    > #cboxLoadedContent > .hidden {
      display: block !important;
    }

    #cboxClose {
      position: absolute;
      top: 0px;
      right: 0px;
      display: block;
      width: 45px;
      height: 45px;
      color: #aaa;
      outline: 0;
      visibility: hidden;
      &:before {
        visibility: visible;
        font-family: FontAwesome;
        font-size: 28px;
        content: "\f00d";
      }

    }

  }

}


