.page-node-type-homepage {
  .main-container {
    padding-top: 0;
  }

  .uwmed-icon:before {
    font-size: 16px;
  }


  .links-with-icon__list {
    margin-bottom: 0;
  }

  .links-with-icon__item {
    position: relative;
    border-bottom: 2px solid white;
    padding: 0;
    font-family: $headings-font-family;
    background-color: $uwmed-accent-tan;

    @media(min-width: $screen-lg-min) {
      background: none;
    }

    .uwmed-icon {
      padding-left: $padding-base-horizontal;
      color: $uwmed-purple-icon;
      background-image: none !important;
      transition-property: color;
      transition-duration: 0.7s;

      @media(min-width: $screen-lg-min) {
        padding-left: $padding-base-horizontal;
        padding-right: $padding-base-horizontal / 2;
        color: white;
      }
    }

    a {
      text-decoration: none;
      font-size: 16px;
      width: 100%;
      text-align: left;
      background: none;
      border: none;
      transition-property: color;
      transition-duration: 0.7s;

      @media(min-width: $screen-lg-min) {
        color: white;
        border: 1px solid rgba(255, 255, 255, .5);

        @include angled-edge('inside top', 'lower right', rgba(255, 255, 255, .23), 15, 15);
        &::before {
          transition-property: opacity;
          transition-duration: 0.7s;
          background-position: left 0;
        }

        &:hover {
          &::before {
            opacity: 0;
          }
        }
      }
    }



    .fa-angle-right {
      position: absolute;
      right: 0;
      padding-right: $line-height-computed / 2;
      color: $uwmed-gray-icon;
      @media(min-width: $screen-lg-min) {
        color: white;
        position: static;
        padding-right: 0;
        padding-left: $line-height-computed / 2;
        transition-property: color;
        transition-duration: 0.7s;
      }
    }
  }




  .links-with-icon {
    @media (min-width: $screen-lg-min) {
      margin-top: -67px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    .links-with-icon__list {
      @media(min-width: $screen-lg-min) {
        margin-bottom: $line-height-computed;

        display: flex;
        justify-content: space-between;
        width: 100%;
      }

    }

    .links-with-icon__item {
      @media(min-width: $screen-lg-min) {
        padding: $padding-base-vertical 0;
        border: none;
        margin-right: $padding-base-horizontal;

        &:last-child {
          margin-right: 0;
        }
      }

      .btn-default {

        @media(min-width: $screen-lg-min) {
          z-index: 1;

          &:hover {
            color: $text-color;

            .uwmed-icon {
              color: $uwmed-purple-icon;
            }

            .fa-angle-right {
              color: $text-color;
            }
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(255, 255, 255, .7);
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.7s;
            transition-timing-function: ease-out;
            z-index: -1;
          }

          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  .homepage-sections {
    position: relative;
  }

  .homepage-section-background-lg {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .homepage-section-background-lg__item-1 {
      transform: skewY(6deg);
      border-bottom: 5px solid white;
      overflow: hidden;
      height: 700px;
      margin-top: -140px;


      img {
        transform: skewY(-6deg);
      }
    }

    .homepage-section-background-lg__item-2 {
      height: 900px;
      margin-top: -105px;
    }

    .homepage-section-background-lg__item-3 {
      transform: skewY(-6deg);
      border-top: 5px solid white;
      overflow: hidden;
      margin-top: -150px;

      img {
        transform: skewY(6deg);
        position: relative;
        top: -105px;
      }
    }
  }

  .homepage-section {
    position: relative;

    @media(min-width: $screen-lg-min) {
      opacity: 0;

      &.fade-in-animation {
        transition: opacity;
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.24, 0, 0.64, 1);
        transition-delay: 0.05s;
        transform: translate3d(0, 100px, 0);
        opacity: 0.0001
      }


      &.animation-applied {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    

    @media(min-width: $screen-lg-min) {
      &:nth-of-type(1) {
        height: 700px;

        .homepage-section__title {
          top: 36px;
        }

        .homepage-section__content {
          top: 116px;
        }
      }

      &:nth-of-type(2) {
        height: 470px;

        .homepage-section__title {
          top: 0px;
          right: 0;
        }

        .homepage-section__content {
          top: 80px;
          right: 0;
        }
      }

      &:nth-of-type(3) {
        height: 760px;

        .homepage-section__title {
          top: 160px;
        }

        .homepage-section__content {
          top: 240px;
        }
      }
    }

    @media(min-width: 1200px) and (max-width: 1370px) {
      &:nth-of-type(3) {
        height: 61.25vw;
      }
    }

    .homepage-section__background {
      @media(min-width: $screen-lg-min) {
        background-image: none !important;
      }
    }

    @media(max-width: $screen-md-max) {
      &:nth-child(even) {
        .homepage-section__background {
          @include angled-edge('inside bottom', 'upper right', #fff, 50);
        }
      }
      &:nth-child(odd) {
        .homepage-section__background {
          @include angled-edge('inside bottom', 'upper left', #fff, 50);
        }
      }
    }
  }

  .homepage-section__background {
    background-size: cover;
    min-height: 346px;

    @media(min-width: $screen-lg-min) {
      min-height: 700px;
    }
  }

  .homepage-section__content {
    background-color: rgba(255, 255, 255, .9);

    @media(min-width: $screen-lg-min) {
      position: absolute;
      padding-left: 38px;
      padding-right: 38px;
    }

  }

  .homepage-section__title {
    position: absolute;
    top: 0;
    width: 100%;

    @media(min-width: $screen-lg-min) {
      background-color: rgba(255, 255, 255, .9);
      padding-left: 38px;
      padding-right: 38px;
      width: 44%
    }

    .h3 {
      text-transform: uppercase;
      text-shadow: 0px 3px 6px rgba(0,0,0,53);
      color: white;
      letter-spacing: .05em;
      margin-bottom: 6px;

      @media(min-width: $screen-lg-min) {
        text-shadow: none;
        color: $text-color;
        margin-top: 38px;
      }
    }
  }

  .homepage-section__heading {
    margin-top: 0;
  }

  .homepage-section__subheading {
    margin-top: 30px;
  }

  .accent-blue {
    .homepage-section__heading,
    .homepage-section__subheading,
    .fa,
    .uwmed-icon {
      color: $uwmed-accent-blue;
    }
  }


  .accent-orange {
    .homepage-section__heading,
    .homepage-section__subheading,
    .fa,
    .uwmed-icon {
      color: $uwmed-accent-orange;
    }
  }

  .accent-teal {
    .homepage-section__heading,
    .homepage-section__subheading,
    .fa,
    .uwmed-icon {
      color: $uwmed-accent-teal;
    }
  }

  .homepage-section__content {
    padding-bottom: 38px;
    width: 100%;

    @media(min-width: $screen-lg-min) {
      width: 44%;
    }
  }

  .homepage-section .links-with-icon__list {
    padding-bottom: 38px;

    @media(min-width: $screen-sm-min) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .homepage-section .links-with-icon__item {
    position: relative;
    border-bottom: 1px solid $uwmed-gray;
    background-color: inherit;
    color: $text-color;

    &:nth-of-type(1) {
      border-top: 1px solid $uwmed-gray;
    }

    @media(min-width: $screen-sm-min) {
      flex: 0 0 48%;

      &:nth-of-type(2) {
        border-top: 1px solid $uwmed-gray;
      }
    }

    a {
      font-size: inherit;
      padding: $padding-base-horizontal * 1.5 0;
      border: none;

      @media(min-width: $screen-lg-min) {
        color: $text-color;
      }
    }

    .uwmed-icon {
       padding: 0;
    }

    .fa-angle-right {
      line-height: 1.018;

      @media(min-width: $screen-lg-min) {
        display: none;
      }
    }
  }

  .homepage-section__link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-family: $headings-font-family;
    font-size: $font-size-h3;
    transition-property: color;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    z-index: 1;

    @media(max-width: $screen-sm-max) {
      width: 100%;
    }

    @media(min-width: $screen-lg-min) {
      padding-left: 18px;
      padding-right: 18px;
    }


    &.btn-default:hover {
      text-decoration: none;
      color: white;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      z-index: -1;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }


  }
  .accent-blue .homepage-section__link  {
    @include angled-edge('inside top', 'lower right', $uwmed-accent-blue, 15, 15);
    &::before {
      background-position: left 0;
    }

    &::after {
      background-color: $uwmed-accent-blue;
    }
  }
  .accent-orange .homepage-section__link {
    @include angled-edge('inside top', 'lower right', $uwmed-accent-orange, 15, 15);
    &::before {
      background-position: left 0;
    }
    &::after {
      background-color: $uwmed-accent-orange;
    }

  }
  .accent-teal .homepage-section__link {
    @include angled-edge('inside top', 'lower right', $uwmed-accent-teal, 15, 15);
    &::before {
      background-position: left 0;
    }

    &::after {
      background-color: $uwmed-accent-teal;
    }
  }
}


