.uwm-toggle {

  .uw-t {
    transition: opacity 1s ease-out;
    opacity: 1;
    &.hidden {
      opacity: 0;
    }
  }

  .uw-more {

    @extend .col-xs-12;
    margin: 30px 0 20px 0;
    padding-top: 10px;
    border-top: 1px solid $uwmed-light-gray;
    text-align: center;
    opacity: .8;
    color: $uwmed-pop-blue;
    text-decoration: none !important;

    i {
      margin-left: .4em;
    }

    &.on i.fa-angle-down:before {
      content: "\f106";
    }

    &.toggle-text {
      &:before {
        content: "View more";
      }
      i:before {
        content: "\f107";
      }

    }

  }

  &.on .toggle-text {
    &:before {
      content: "View less";
    }
    i:before {
      content: "\f106";
    }

  }

}


