# Note that the example .travis.yml file for child projects lives in /install.
sudo: false
language: php
dist: trusty

php:
  - 7.1

matrix:
  fast_finish: true

env:
  global:
    - COMPOSER_BIN=$TRAVIS_BUILD_DIR/vendor/bin
    - BLT_DIR=$TRAVIS_BUILD_DIR/vendor/acquia/blt
    - LOCAL_BLT_DIR=$TRAVIS_BUILD_DIR/blt/
    - BUILD_DIR=$TRAVIS_BUILD_DIR
    - NODE_JS_VERSION=6

jdk:
  - oraclejdk8

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.npm"
  - "$HOME/.nvm"
  - "vendor"
  # Cache front end dependecies to dramatically improve build time.
  - "docroot/themes/custom/chew/node_modules"
  # - "docroot/themes/custom/uwmed/node_modules"

addons:
  ssh_known_hosts:
    - svn-23450.prod.hosting.acquia.com
    - staging-23664.prod.hosting.acquia.com
  chrome: stable

# @see https://docs.travis-ci.com/user/notifications
notifications:
  slack: 
    rooms:
      - $SLACK_UWMCMS_ROOM

before_install:
  # Disable xdebug.
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer validate --no-check-all --ansi
  - composer install

install:
  - source $LOCAL_BLT_DIR/custom-scripts/travis/setup_environment
  - source $LOCAL_BLT_DIR/custom-scripts/travis/setup_project

script:
  - source $LOCAL_BLT_DIR/custom-scripts/travis/run_tests

before_deploy:
  - source $LOCAL_BLT_DIR/custom-scripts/travis/setup_deploy

deploy:
   - provider: script
     script: "$LOCAL_BLT_DIR/custom-scripts/travis/deploy_branch"
     skip_cleanup: true
     on:
       branch: develop
       php: 7.1
   - provider: script
     script: "$LOCAL_BLT_DIR/custom-scripts/travis/deploy_branch"
     skip_cleanup: true
     on:
       branch: master
       php: 7.1
   - provider: script
     script: "$LOCAL_BLT_DIR/custom-scripts/travis/deploy_tag"
     skip_cleanup: true
     on:
       tags: true
       php: 7.1
