// - UWM Bootstrap Tabs
//
// Custom styling for Bootstrap nav-tabs element.
//


//
ul.uwm-nav-tabs {

  border-bottom: 1px solid #dcdcdc;

  > li > a, > li > a:hover  {
    color: $uwmed-white;
    background: $uwmed-solid-dark-purple;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 12px 34px;

    i.fa {
      font-size: 22px;
      padding-right: 2px;
    }

  }

  > li.active > a, > li.active > a:focus {
    color: $uwmed-light-purple;
    background: $uwmed-white;
    border: 0 none;
  }


}

div.uwm-tab-content {

  min-height: 200px;
  border: 0 none;

  .tab-pane.active.in {

  }

}

@media(max-width: $screen-xs-max) {


    ul.uwm-nav-tabs {

      li {
        max-width: 33%;

        a, a:hover {
          padding: 12px 8px;
          height: auto;
          text-transform: uppercase;
          text-align: center;

          .fa {
            display: none;
          }

        }

      }

    }

}