{#
/**
 * @file
 * Default theme implementation to webform confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous webform submission.
 *
 * @see template_preprocess_webform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('webform/webform.confirmation') }}
<div{{ attributes.addClass('webform-confirmation') }}>
  <article>
    <header>
      <h1>Thank You for your Submission</h1>
    </header>
    <section class="content">
      <div {{ attributes.addClass('webform-confirmation-message') }}>
        {{ message }}
      </div>
    </section>
  </article>
</div>




