//
// -- BLOCK STYLING
//

//
// GENERAL RULES
//
aside section.block,
.block-format-paragraph .paragraph {

  @extend .col-xs-12;

  margin: 20px 0;
  padding: 15px;
  box-shadow: 1px 1px 3px 0 #dcdcdc;
  background: #f8f8f8;

  h2.block-title {
    margin-left: 15px;
    @extend .h3;
    @include uw-bottom-accent-heading();
    i {
      text-transform: none;
    }
  }

}

//
// OTHER BLOCKS
//



aside .block .wrapper.card-block-pt-resources .field.field--name-field-heading {
  height: 6px;
  .item {
    display: none;
  }
}
