//
// -- BLOCK STYLING
//


//
// GENERAL RULES
//
aside section.block {

  @extend .col-xs-12;

  margin-bottom: 25px;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px #dcdcdc;
  background: #f8f8f8;

  h2.block-title {
    @extend .h3;
    @include uw-bottom-accent-heading();
  }


}


//
// OTHER BLOCKS
//

.accelerate-promotion-block {
    background-size: cover;
    color: white;
    //height: 139px;

    @media(min-width: $screen-lg-min) {
      height: 158px;
    }

  .accelerate-promotion-block__logo {

    img {
      width: 220px;
      margin: 40px auto 30px auto;
    }

    @media(min-width: $screen-lg-min) {
      padding-left: 30px;
      margin-top: 52px;
      margin-left: 15px;

      img {
        width: 98%;
        margin: 0;
      }
    }
  }

  .accelerate-promotion-block__content {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .accelerate-promotion-block__cta {
    text-align: center;
    margin-bottom: 40px;

    @media(min-width: $screen-lg-min) {
      margin-top: 63px;
      margin-bottom: 0;
      text-align: right;
      padding-right: 45px;
    }

    a {
      border: 1px solid white;
      padding-left: 18px;
      padding-right: 18px;
      background: none;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

      @include angled-edge('inside top', 'lower right', white, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: white;
        color: $text-color;
      }
    }
  }
}