// homepage-specific content-block styles
.block-views-blockcontent-spotlight-homepage-content-spotlight-block {
  @include make-row();
  background-color: #efefef;
  padding: 0;

  @media(min-width: $screen-sm-min) {
    padding: 0 0 100px 0;
  }

  .block-title {
    @extend .h3;

    &::after {
      position: relative;
      content: " ";
      display: block;
      bottom: -6px;
      width: 40px;
      border-style: solid;
      border-width: 3px 2px 0 2px;
      border-color: #ffce00 transparent transparent transparent;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .view-header {
    text-align: center;
    margin-bottom: 19px;
  }

  .form-group {
    @include make-xs-column(12);
  }

  .block-title {
    text-align: center;
    text-transform: uppercase;
  }

  .field--name-items > .item {
    margin-bottom: -50px;

    @media(max-width: $screen-xs-max) {
      @include make-row();
    }

    @media(min-width: $screen-sm-min) {
      @include make-sm-column(6);
      padding: 0;
    }
  };

  .content-spotlight__image {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(114, 114, 114, .35);

    border-bottom: 6px solid white;

    @media (min-width: $screen-md-min) {
      border: none;
    }

    &:hover {
      box-shadow: none;
    }
  }

  .content-spotlight:hover {
    .content-spotlight__image {
      box-shadow: none;
    }
  }

  .content-spotlight__cta {

    @include uw-ghost-button('a.btn', 'i.u-ips');

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 94%;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    bottom: 62px;
    min-height: 50px;

    text-decoration: none;
    font-weight: 600;

    a.btn {
      background-color: rgba(255,255,255,.9);
      width: 100%;
    }
    //
    //  transition-property: color;
    //  transition-duration: 0.7s;
    //  transition-timing-function: ease-out;
    //  z-index: 1;
    //
    //  @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
    //  &::before {
    //    background-position: left 0;
    //  }
    //
    //  span {
    //    white-space: pre-wrap;
    //  }
    //
    //  &.btn-default:hover {
    //    text-decoration: none;
    //    color: $text-color;
    //  }
    //
    //  &::after {
    //    content: "";
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    right: 0;
    //    bottom: 0;
    //    transform: scaleX(0);
    //    transform-origin: 0 50%;
    //    transition-property: transform;
    //    transition-duration: 0.7s;
    //    transition-timing-function: ease-out;
    //    z-index: -1;
    //    background-color: $uwmed-accent-yellow;
    //  }
    //
    //  &:hover {
    //    &::after {
    //      transform: scaleX(1);
    //    }
    //  }
  }
}

.content-spotlight-block {
  @extend .container-lg;
}
