// Bootstrap Framework.
// Core variables and mixins
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "../../scss/bootstrap_variables";
@import "../../scss/uwmed_variables";
@import "../../scss/mixins";

body div.main-container {
  padding-top: 0;
}

.main-container {
  padding: 0;
  >section,
  >.wrapper .page-center {
    @include make-xs-column(12);
  }
}

.main-container {

  background: $uwmed-off-white; //@include make-row();
  //@include make-xs-column(12);
  //@include make-sm-column(6);
  //@include make-md-column(4);
  //@include make-lg-column(2);
  section.block.block-facets {
    display: none;
  }

  section.content-header {

    background: darken($uwmed-off-white, 4%);
    section.views-exposed-form {
      margin: 15px 0;

      div.form-group.form-type-search-api-autocomplete {
        @include make-md-column(5);
        padding: 0;
        .input-group {
          width: 96%;
          input {
            box-shadow: 0px 0px 4px 2px #f8f8f8;
          }
        }
        span.input-group-addon {
          //display: none;
        }
      }
      div.facets-widget.btn-group.facets-widget-links {
        @include make-md-column(3);
        padding: 0;
        button.btn.btn-default.dropdown-toggle {
          width: 96%;
          text-align: left;
          box-shadow: 0px 0px 4px 0px #dcdcdc;
        }
        .dropdown-menu {
          left: 0;
          right: 15px;
          a {
            text-decoration: none !important;
          }
        }
      }
      div.form-actions {
        @include uw-ghost-button('button', '.u-ips');
      }
    }
  }

  section.page-center {

    h2.page-title a:link {
      color: $uwmed-pop-blue;
    }

    .view-header {
      background: darken($uwmed-off-white, 4%);
      padding: 15px;
      margin: 0 -15px;
      text-transform: uppercase;
      div {
        display: inline;
        padding-right: 30px;
      }
      .search-all a,
      .search-providers a,
      .search-locations a {
        text-transform: uppercase;
        text-decoration: none !important;
        color: $uwmed-pop-blue;
        em {
          display: none;
        }
      }
      .search-all a {
        color: #333;
        em {
          display: inline;
        }
      }
    }

    nav.pager-nav {

      text-transform: uppercase;
      font-size: smaller; //font-variant: all-small-caps;
      text-align: left !important;
      li.pager__item.pager__item--first,
      li.pager__item.pager__item--last {}



      .pagination>li>a,
      .pagination>li>span {
        color: $uwmed-pop-blue;
        border-color: transparent !important;
        background-color: transparent !important;
        border-right-color: $uwmed-gray;
        padding: 8px;
      }
    }
  }
}

.ui-widget {
  font-size: $font-size-base;
  font-family: $font-family-sans-serif-condensed;
}
