{# Help #}
{% if page.help %}
    {% block help %}
        <section class="page-help">
            {{ page.help }}
        </section>
    {% endblock %}
{% endif %}


{# Page Top #}
{% if page.content_header %}
    {% block content_header %}
        <section class="content-header">
            {{ page.content_header }}
        </section>
    {% endblock %}
{% endif %}