body {
  margin-top: 0;
  /* Overrides for very small screens */
  @media (max-width: $screen-xs) {
    font-size: $font-size-base-xs;
  }
  &.navbar-is-fixed-top {
    margin-top: 130px;
    @media (min-width: 640px) {
      margin-top: 150px;
    }
    @media (min-width: $screen-sm) {
      margin-top: 170px;
    }
    @media (min-width: $screen-md) {
      margin-top: 190px;
    }
  }
}

.form-type-textarea {
  margin-bottom: 15px;
}
