.article.mini-horizontal {
  margin: 0 0 2rem 0;
  .field--name-field-feature-category {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin: 0 0 .5rem 0;
  }
  .field--name-field-primary-media {
    float: left;
    width: 33%;
    margin: 0 5% 0 0;
  }
  h3 {
    float: left;
    width: 61%;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    @media (max-width: $screen-xs) {
      font-size: 14px;
    }
  }
}
