.article.small-stacked-card {
  margin: 0 0 2rem 0;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 3rem;
  }
  .hierarchical-term-field {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      margin: 0 0 .5rem 0;
    }
  }
  .media-image {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      margin: 0 0 .5rem 0;
    }
  }
  .article-created-date {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 0 .5rem 0;
    }
  }
  h3 {
    font-size: ceil(($font-size-base * 1.25));
    font-weight: normal;
    margin: 0;
    @media (max-width: $screen-xs) {
      font-size: $font-size-base-xs * 1.25;
    }
  }
}
