.article.large-stacked-card {
  .media-image {
    margin: 0 0 .75rem 0;
  }
  .hierarchical-term-field {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    margin: 0 0 .75rem 0;
  }
  h3 {
    font-size: $font-size-large;
    margin: 0 0 .75rem 0;
  }
  .article-created-date {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 .75rem 0;
  }
}
