.article {
  .paragraph--type--body-text {
    a {
      border-bottom: 1px solid $brand-primary;
    }
  }
}
.region-content-header {
  @include clearfix();
  margin-bottom: 1rem;
  .field--name-field-categories {
    .taxonomy-term.count-1 {
      font-size: $font-size-base * 1.25;
      font-weight: bold;
      border-right: 1px solid $gray-light;
      padding-right: .5em;
      @media (max-width: $screen-xs) {
        font-size: $font-size-base-xs * 1.25;
      }
    }
    .taxonomy-term.count-2 {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      padding-left: .25em;
      font-size: .875em;
      a {
        color: $gray-dark;
      }
    }
    .taxonomy-term.count-2 {
      font-family: $font-family-sans-serif;
      text-transform: uppercase;
      padding-left: .625em;
      font-size: .875em;
      border-left: 1px solid $gray-light;
      a {
        color: $gray-dark;
      }
    }
  }
  .block-entity-fieldnodefield-author,
  .block-entity-fieldnodecreated {
    float: left;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: .875em;
  }
  .block-entity-fieldnodefield-author {
    padding-right: 2em;
    .field--name-field-author .field--item {
      display: inline;
    }
  }
  .block-entity-fieldnodecreated {
    font-weight: bold;
  }
}

.field--name-field-sections {
  .paragraph {
    margin-bottom: $line-height-computed;
  }
  .block-entity-fieldnodefield-author,
  .block-entity-fieldnodecreated {
    float: left;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-size: .875em;
  }
  .block-entity-fieldnodefield-author {
    padding-right: 2em;
  }
  .block-entity-fieldnodecreated {
    font-weight: bold;
  }
}
