.paragraph--type--aside {
  margin-top: ceil(($font-size-base * 2));
  margin-bottom: ceil(($font-size-base * 2));
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  padding-top: $font-size-base * 1.5;
  padding-bottom: $font-size-base * .75;
  @media (max-width: $screen-xs) {
    margin-left: 0;
    padding-left: ceil(($font-size-base-xs * 1.5));
  }
  .field--name-field-heading {
    font-size: ceil(($font-size-base * 1.5));
    font-weight: normal;
    color: $dark-green;
    margin-top: 0;
    @media (max-width: $screen-xs) {
      font-size: $font-size-base-xs * 1.5;
    }
  }
  .field--name-field-body {
    color: $dark-green;
    @media (max-width: $screen-xs) {
      font-size: $font-size-small;
    }
  }
}
