.region-branding {
  float: left;
  width: 60%;
  padding: 0 30px;
  @media (min-width: $screen-md) {
    float: none;
    width: auto;
    padding: 0;
  }
  .logo {
    width: 100%;
    @media (min-width: $screen-md) {
      width: 480px;
      margin-top: 12px;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
