.paragraph--type--callout {
  margin-top: ceil(($font-size-base * 2));
  margin-bottom: ceil(($font-size-base * 2));
  margin-left: ceil(($font-size-base * 4));
  padding-left: ceil(($font-size-base * 1.5));
  border-left: 1px solid $brand-secondary;
  .field--name-field-heading {
    font-size: $font-size-large;
    color: $brand-secondary;
  }
  .field--name-field-body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-small;
    color: $gray-light;
  }
}
