#block-body-subnavigation,
#block-care-subnavigation,
#block-life-subnavigation,
#block-mind-subnavigation {
  margin: 0 0 6rem 0;
  .menu.nav {
    text-align: center;
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    padding: 1rem 0;
    > li {
      float: none;
      display: inline-block;
      font-family: $font-family-sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0 2rem;
      @media (min-width: $screen-md-min) {
        border-left: 1px solid $gray-light;
        &:first-child {
          border-left: none;
        }
      }
      > a {
        &:hover, &:active, &:focus, &.is-active {
          color: $brand-primary;
          background-color: transparent;
        }
      }
      &.active {
        > a {
          color: $brand-primary;
        }
      }
    }
  }
  @media (max-width: $screen-xs) {
    display: none;
  }
}
