.category-banner {
  height: 240px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 4rem 0 ;
  padding: 0 0 20px 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  .banner-heading {
    background-color: rgba(51, 0, 111, .8);
    padding: 25px 0 20px 0;
    .field--name-field-heading {
      float: left;
      color: #fff;
      font-family: $font-family-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: .8;
      letter-spacing: 1px;
      border-right: 1px solid #fff;
      margin: 0 .5em 0 0;
      padding: 0 .5em 0 0;
    }
    .field--name-field-subheading {
      float: left;
      color: #fff;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      letter-spacing: 1px;
      margin: -2px 0 0 0;
      padding: 0;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .category-banner {
    height: 360px;
    padding-bottom: 40px;
    .banner-heading {
      .field--name-field-heading {
        font-size: 45px;
      }
      .field--name-field-subheading {
        font-size: 25px;
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .category-banner {
    height: 480px;
    padding-bottom: 60px;
    .banner-heading {
      .field--name-field-heading {
        font-size: 54px;
      }
      .field--name-field-subheading {
        font-size: 30px;
      }
    }
  }
}
