.category-banner {
  height: 240px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 4rem 0 ;
  padding: 0 0 60px 0;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  .banner-heading {
    .field--name-field-heading {
      color: #fff;
      font-size: 36px;
      text-shadow: 2px 2px 4px rgba(0,0,0,.6);
      line-height: 1.25;
    }
    .field--name-field-subheading {
      color: #fff;
      font-size: 20px;
      font-weight: normal;
      text-shadow: 2px 2px 4px rgba(0,0,0,.6);
      line-height: 1.25;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .category-banner {
    height: 360px;
    .banner-heading {
      .field--name-field-heading {
        font-size: 45px;
      }
      .field--name-field-subheading {
        font-size: 25px;
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  .category-banner {
    height: 480px;
    .banner-heading {
      .field--name-field-heading {
        font-size: 54px;
      }
      .field--name-field-subheading {
        font-size: 30px;
      }
    }
  }
}
