#block-copyright-notice {
  @include make-md-column(4);
  text-align: right;
  font-family: $font-family-sans-serif;
  font-size: ceil($font-size-base * .722);
  color: $gray-dark;
  @media (min-width: $screen-md) {
    padding-right: 0;
  }
}
