.block-views-blockfeatured-content-first-featured-block {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
    margin-bottom: 4rem;
  }
}
.block-views-blockfeatured-content-block {
  .views-row {
    & + .views-row {
      border-top: 1px solid $gray-light;
      padding-top: 2rem;
    }
    &:first-child {
      @media (min-width: $screen-md) {
        display: none;
        & + .views-row {
          border-top: none;
          padding-top: 0;
        }
      }
    }
  }
  .block-title {
    font-size: $font-size-base * 1.5;
    margin: 0 0 .75em 0;
    padding: 0 0 .375em 0;
    border-bottom: 1px solid $gray-light;
    @media (max-width: $screen-xs) {
      font-size: $font-size-base-xs * 1.5;
    }
  }
}
