.block-views-blocklatest-articles-by-category-block-1 {
  .block-title {
    font-size: $font-size-base * 1.5;
    margin: 0 0 .75em 0;
    padding: 0 0 .375em 0;
    border-bottom: 1px solid $gray-lighter;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 1em 0;
      line-height: 1.25;
      border-bottom: 1px solid $gray-lighter;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}
