#block-chew-main-menu {
  .navbar-nav {
    margin-bottom: 10px;
    > li {
      font-family: $font-family-sans-serif;
      > a {
        padding: 0;
        margin: 0;
        line-height: 1.5;
        font-size: floor(($font-size-base));
        @media (min-width: $screen-md) {
          margin-left: 25px;
          font-size: floor(($font-size-base * 1.556));
        }
        @media (min-width: $screen-lg) {
          margin-left: 50px;
        }
        @media (max-width: $screen-md) {
	      text-transform: uppercase;
		  font-weight: bold;
	    }
	    @media (max-width: $screen-xs) {
		  margin-bottom:10px;
		}
        .caret {
	        display:none;
	        @media (min-width: $screen-md) {
	          display:inline-block;
	        }
        }
      }
      .dropdown-menu {
	    @media (max-width: $screen-md) {
		    display: block !important;
		    position: relative;
		    border: none;
		    box-shadow: none;
		    width: 100%;
		    margin-bottom: 15px;
		}
		@media (max-width: $screen-xs) {
			display:none !important;
		}
		li {
		  @media (max-width: $screen-md) {
			display: inline-block;
			font-size: 15px;
		  }
		}
      }
    }
  }
}
