.media-image,
.media-video {
  .field--name-field-caption {
    font-size: ceil(($font-size-base * 0.889));
    display: inline-block;
    margin-right: 1em;
    line-height: 1.25;
    @media (max-width: $screen-xs) {
      font-size: ceil(($font-size-base-xs * 0.889));
    }
  }
  .field--name-field-credit {
    float: right;
    text-align: right;
    width: 35%;
    font-size: ceil(($font-size-base * 0.777777778));
    font-family: $font-family-sans-serif;
    color: $gray-dark;
    display: inline-block;
    line-height: 1.25;
    white-space: nowrap;
    @media (max-width: $screen-xs) {
      font-size: ceil(($font-size-base-xs * 0.778));
    }
  }
  &.view-mode-large {
    line-height: 1;
    margin-bottom: $line-height-computed;
  }
}
