.paragraph--type--pull-quote {
  margin-top: ceil(($font-size-base * 2));
  margin-bottom: ceil(($font-size-base * 2));
  margin-left: ceil(($font-size-base * 5));
  margin-right: ceil(($font-size-base * 5));
  .field--name-field-quote-text {
    color: $brand-secondary;
    font-family: $font-family-sans-serif;
    font-size: ceil(($font-size-base * 1.5));
    position: relative;
    padding-left: ceil(($font-size-base * 2.5));
    &:before {
      content: "“";
      position: absolute;
      top: 0;
      left: 0;
      font-size: ceil(($font-size-base * 4));
      line-height: 1;
      margin-top: -10px;
    }
    &:after {
      content: "”";
      font-size: ceil(($font-size-base * 2.5));
      line-height: .1;
      padding-left: .25em;
    }
  }
  .field--name-field-quote-attribution {
    color: $brand-secondary;
    font-family: $font-family-sans-serif;
    font-size: ceil(($font-size-base * .777777778));
    text-align: right;
  }
}
