.paragraph--type--quick-read {
  margin-bottom: ceil(($font-size-base * 2));
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  padding-top: $font-size-base * 1.5;
  padding-bottom: $font-size-base * .75;
  .field--name-field-superheading {
    font-family: $font-family-sans-serif;
    font-size: 19px;
    color: $gray-darker;
    font-weight: bold;
    text-transform: uppercase;
    display: inline;
    border-right: 1px solid $gray-light;
    padding-right: .75em;
    margin-right: .75em;
  }
  .field--name-field-heading {
    margin-top: 0;
    font-family: $font-family-sans-serif;
    font-size: 19px;
    color: $gray-dark;
    display: inline;
  }
  .field--name-field-body {
    font-family: $font-family-sans-serif;
    color: $gray-dark;
  }
}
