.block-views-blockrelated-articles-block {
  margin: 0 0 4rem 0;
  .block-title {
    font-size: $font-size-base * 1.5;
    margin: 0 0 .75em 0;
    padding: 0 0 .375em 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
