#block-exposed-form-search-articles-header {
  margin-left: .5rem;
  @media (min-width: $screen-md) {
    float: left;
    margin-left: 2rem;
  }
  .control-label {
    @extend .sr-only;
  }
  #edit-search {
    height: 32px;
    width: 180px;
    float: left;
  }
  .form-actions {
    float: left;
    .btn {
      margin: 0 .5em 0 0;
      padding: 0;
      background: transparent;
      color: $gray-dark;
      border: none;
    }
    .glyphicon-search {
      transform: rotate(90deg);
    }
  }
}
#block-exposed-form-search-articles-page {
  margin-bottom: 3rem;
  .form-actions {
    display: none;
  }
}
.view-search-articles {
  .view-header {
    color: $gray-dark;
    font-family: $font-family-sans-serif;
    margin-bottom: 3rem;
  }
  .views-row {
    margin-bottom: 3rem;
  }
  .views-field-label {
    font-size: 24px;
    line-height: 1.25;
  }
  .views-field-search-api-excerpt {

  }
}
