#block-social-links {
  margin-bottom: 20px;
  @media (min-width: $screen-md) {
    float: left;
  }
}
.social-media-links {
  .region-header & {
    .social-media-link {
      display: inline-block;
      width: 30px;
      margin: 0 7px 0 0;
      @media (min-width: $screen-md) {
        float: left;
        margin-right: 15px;
      }
      @media (min-width: $screen-lg) {
        margin-right: 30px;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
