#block-social-links {
  float: left;
}
.social-media-links {
  .region-header & {
    display: none;
    @media (min-width: $screen-md-min) {
      display: block;
    }
    .social-media-link {
      display: inline-block;
      width: 30px;
      margin: 0 0 0 5px;
      img {
        max-width: 100%;
      }
    }
  }
}
