// List of links:
div.paragraph, section.block {

  div.field.field--name-field-links-paragraph {

    @extend .row;
    margin: 0;

    > .item {

      ul {
        margin: 0;
        padding: 0;
        li {

          list-style-type: none;
          margin: 0;
          padding: 0 0 1em 0;
        }
      }

      a.btn.btn-default {

        @extend .col-xs-12;
        margin: 0;
        padding: 8px 20px;
        border: 0 none;
        text-align: left;
        text-decoration: none;
        background-color: transparent;
        box-shadow: none;
        white-space: normal;
        //word-break: break-all;

        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }

        span.uwmed-icon {
          float: left;
          margin: 1px 0 0 -20px;
          b {
            @extend .hidden;
          }
        }

        span.fa-angle-right {
          float: right;
          margin: 1px -20px 0 0;
        }

      }

    }

    > .item a.btn.btn-default {
      border-bottom: 1px solid #dcdcdc;
    }
    > .item:last-of-type a.btn.btn-default {
      border-bottom: 0 none;
    }

    div.field.field--name-field-link {
      @include uw-ghost-button('.item', 'i.u-ips');
      @extend .full-float;
      margin: 20px 0 0 0;
    }

  }

}

