//
// -- PARAGRAPHS STYLING
// Special formatting for paragraphs, when used
// within these fields or the content aside.
//

aside,
div.field--name-field-top-content-blocks,
div.field.field--name-field-content-blocks,
div.field.field--name-field-bottom-content-blocks {

  .paragraph {

    @extend .col-xs-12;

    .field--label {
      @extend .hidden;
    }

    .wrapper > .field {
      margin-bottom: 30px;
    }
    .wrapper > .field:last-child {
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      background: #dcdcdc;
      color: #000;
      opacity: .7;
      border: 1px solid darken(#dcdcdc, 15%);
      margin: 0 0 5px 0;
      padding: 4px;

      &::placeholder {
        text-transform: uppercase;
      }
    }

    p {
      margin-bottom: 12px;
    }

    a.btn, a.btn-default {
      background-color: transparent;
    }

    div.field.field--name-field-heading {

      @extend .h3;
      margin: 0 0 25px 0;
      .item {
        @include uw-bottom-accent-heading();
        i {
          text-transform: none;
        }
      }
    }

    div.field.field--name-field-links-paragraph {

      li.links-with-icon__item {
        list-style-type: none;
      }
    }

    form div.form-actions {
      @include uw-ghost-button('button', 'i.u-ips');
    }

    div.field.field--name-field-link {
      @include uw-ghost-button('.item', 'i.u-ips');
    }

  }

  .paragraph.paragraph--view-mode--image-header-paragraph {

    .bg-featured-image {
      display: block !important;
      position: absolute;
      top: 30px;
      left: 15px;
      right: 15px;
      z-index: 2;
      background-size: cover;
      height: 150px;
    }

    > .wrapper {
      padding-top: 150px;
      .field.field--name-field-featured-image {
        @extend .hidden;
      }
    }

  }


}

div.field.field--name-field-link {
  @include uw-ghost-button('.item', 'i.u-ips');
  margin-top: 15px;
  > .item {
    margin-right: 15px;
  }
}

.field.field--name-field-featured-image {
  @extend .img-thumbnail;
}

