//
// PARAGRAPH STYLING
// ------------------

//aside,
//div.field--name-field-top-content-blocks,
//div.field.field--name-field-content-blocks,
//div.field.field--name-field-bottom-content-blocks {

.paragraph {

  @extend .col-xs-12;

  .field--label {
    @extend .hidden;
  }

  .wrapper > .field {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a.btn, a.btn-default {
    background-color: transparent;
  }

  .field.field--name-field-heading {
    @extend .h3, .block-title;
    margin-top: 0;
    .item {
      @include uw-bottom-accent-heading();
    }
    &.no-accent {
      @extend .h5;
      .item {
        text-transform: none;
        &:after {
          @extend .hidden;
        }
      }
    }
  }

  .field.field--name-field-links-paragraph {
    li.links-with-icon__item {
      list-style-type: none;
    }
  }

  .field.field--name-field-link {
    @include uw-ghost-button('.item', 'i.u-ips');
    margin-top: 15px;
    > .item {
      margin-right: 15px;
    }
  }

  .field.field--name-field-featured-image img {
    @extend .img-thumbnail;
  }

  form {
    input {
      width: 100%;
      background: #dcdcdc;
      color: #000;
      opacity: .7;
      border: 1px solid darken(#dcdcdc, 15%);
      margin: 0 0 5px 0;
      padding: 4px;
      &::placeholder {
        text-transform: uppercase;
      }
    }
    .form-actions {
      @include uw-ghost-button('button', 'i.u-ips');
    }
  }

  @extend %paragraph--view-mode--image-header-paragraph;

  @extend %paragraph--view-mode--media-paragraph-minimal-display;

  @extend %paragraph--with-sticky-cta;

}

//}
//

/***
 *
 * PARAGRAPH DISPLAY MODES:
 */
%paragraph--view-mode--image-header-paragraph {

  &.paragraph.paragraph--view-mode--image-header-paragraph {
    > .wrapper {
      .field.field--name-field-featured-image {
        @extend .row;
        margin-top: -15px;
        img {
          width: 100%;
          padding: 0;
          border: 0 none;
        }
      }
    }

  }

}

%paragraph--view-mode--media-paragraph-minimal-display {

  &.paragraph.paragraph--view-mode--media-paragraph-minimal-display {

    box-shadow: none !important;
    background: transparent !important;
    .field.field--name-field-text-snippet {
      @extend .hidden;
    }

    .field.field--name-field-media {
      .video-thumbnail-wrapper a {
        .vplay {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -40px;
          margin-top: -40px;
          color: #fff;
          font-size: 80px;
          opacity: .5;
        }
        &:hover .fa {
          opacity: 1;
        }
        img {
          @extend .img-thumbnail;
        }
      }
    }
  }

}

%paragraph--with-sticky-cta {

  &.paragraph.paragraph-with-cta.sticky-cta > .wrapper {
    position: relative;
    padding-bottom: 60px;
    .field.field--name-field-link {
      position: absolute;
      bottom: 15px;
      margin-bottom: 0;
    }
  }

}