{% extends 'field.html.twig' %}
{% set include_wrapper = 'false' %}
{% set item_classes = ['homepage-section','row'] %}
{% set item_element = 'section' %}

{% block content %}
  <div class="homepage-sections">
    {% if bg_image_urls %}
      <div class="homepage-section-background-lg visible-lg row">
        {% for file_url in bg_image_urls %}
          <div class="homepage-section-background-lg__item-{{ loop.index }}">
            <img class="img img-responsive" src="{{file_url(file_url | image_style('hero'))}}" alt="" />
          </div>
          <div class="homepage-section-background-lg__footing"></div>
        {% endfor  %}
      </div>
    {% endif %}

    {{ parent() }}
  </div>
{% endblock content %}