.region-branding {
  float: left;
  width: 80%;
  max-width: 480px;
  padding: 5px 0;
  @media (min-width: $screen-md) {
    float: none;
    width: auto;
    padding: 5px 0;
  }
  .logo {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    @media (min-width: $screen-md) {
      width: 480px;
    }
    @media (min-width: $screen-lg) {
      width: 640px;
      max-width: 640px;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
