{% set map_api_key = 'AIzaSyC8H18N4yUJDtUDaR9eMpXiqndLwWfd_hQ' %}
{% set map_query = "UW Medicine"|trim|url_encode %}

<div class="map-wrapper">

    <div class="map">

        <iframe src="https://www.google.com/maps/embed/v1/place?key={{ map_api_key }}&q={{ map_query }}"
                width="100%" height="600" frameborder="0" style="border:0"
                allowfullscreen></iframe>

        {#<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10532.572935125596!2d-122.91114763022459!3d48.70274320000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54858fa349c5a55d%3A0x40682082f3224313!2sUW+Medicine+Orcas+Island+Clinic!5e0!3m2!1sen!2sus!4v1516409862407"#}
        {#width="800" height="600" frameborder="0" style="border:0"#}
        {#allowfullscreen></iframe>#}

        {#<iframe src="https://www.google.com/maps/d/embed?mid=1wUx8i9_Yn0Ok7PCZHLKwtAzUh7cdKkzu" width="640" height="480"></iframe>#}

    </div>

</div>
