
@media(max-width: $screen-xs-max) {

  body.page-node-type-fact-page {

    article.fact-page {



      .field.field--name-field-content-blocks {

        //margin-left: -15px;
        //margin-right: -15px;


      }


    }

  }

}