body.page-node-type-fact-page {

  div.main-container {

    @extend %uwmed-gradient-angled-dark-background;
    padding-top: 0;

  }

  h1.page-header {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: .4px;
    color: $uwmed-purple;
  }

  article.fact-page {


    section.crocosmias {


      .field.field--name-field-body-body-second {
        @extend .col-xs-12, .text-center;
        margin: 30px 0;
      }

      .field.field--name-field-content-blocks {
        .paragraph {
          @extend .well, .col-xs-12;
          background: $uwmed-white;
          box-shadow: 1px 1px 3px 0 #dcdcdc;
          background: #f8f8f8;
        }
        > .item, .n-twos > .item {
          @extend .col-sm-6;
        }
        .n-threes > .item {
          @extend .col-sm-4
        }

      }

    }



    section.beesbalm {


      background: $uwmed-white;
      padding: 30px;

      .content {

        div.field.field--name-field-link {
          @extend .col-sm-4;
          @include uw-ghost-button('.item', 'i.u-ips');
        }

      }

      aside.inner-sidebar {

        &.hidden-xs {
          border-left: 1px solid #f8f8f8;
          margin-left: 25px;
          padding: 0 0 25px 25px;
        }

      }

    }

  }

  .field--label {
    @extend .hidden;
  }

}