body.page-node-type-fact-page {

  /**
   *
   * PAGE STYLING:
   *
   */
  div.main-container {
    @extend %uwmed-gradient-angled-dark-background;
    padding-top: 0;
  }

  h1.page-header {
    @extend .col-xs-12;
    font-size: 28px;
    line-height: 28px;;
    font-weight: 400;
    letter-spacing: .4px;

    .title-wrapper {
      color: $uwmed-purple;

      .subheading {
        margin-left: 30px;
        white-space: nowrap;
        &, a {
          color: $uwmed-pop-blue;
          font-size: 20px;
        }
      }
    }
  }

  /**
   *
   * NODE STYLING:
   *
   */

  section {
    @extend .row;
    > .wrapper {
      @extend .col-xs-12;
    }
  }

  .paragraph {
    @extend .col-xs-12;
    > .wrapper {
      @extend .uw-well;
      width: 100%;
      margin-bottom: 30px;
      background: $uwmed-off-white;
      border: 1px solid $uwmed-light-gray;
    }
  }

  .group-of-2s .paragraph {
    @extend .col-sm-6;
  }
  .group-of-3s .paragraph {
    @extend .col-md-4;
  }
  .group-of-4s .paragraph {
    @extend .col-md-3;
  }

  h2.item {
    @extend .col-xs-12;
  }

  /**
   *
   * NODE CONTENT SECTIONS:
   *
   */

  section.palmatums {

    .paragraph > .wrapper {
      background: $uwmed-white;
      box-shadow: 1px 1px 3px 0 $uwmed-light-gray;
    }

  }

  section.body-content.beesbalms {

    background: $uwmed-white;
    padding: 30px;


    aside.inner-sidebar {
      &.hidden-xs {
        border-left: 1px solid #f8f8f8;
        margin-left: 25px;
        padding: 0 0 25px 25px;
      }
    }

  }

  section.crocosmias {

    background: $uwmed-white;
    padding: 30px;

    .field.field--name-field-content-blocks-footer {
      @extend .col-xs-12, .uw-well, .text-center, .h5;

      &, a {
        font-weight: normal;
      }
    }

  }

  /**
   *
   * OTHER SPECIAL RULES:
   *
   */
  .field--label {
    @extend .hidden;
  }

  @include uw-open-scheduling-rules();

  @media(min-width: $screen-md-min) {

    section.crocosmias > .wrapper {
      padding: 0 15px;
    }

    @include uw-equal-height-row(
                    '.field--name-field-content-blocks',
                    '.paragraph');
    //@include uw-equal-height-row(
    //                '.field--name-field-top-content-blocks',
    //                '.paragraph');
    //
    .field.field--name-field-top-content-blocks,
    .field.field--name-field-top-content-blocks > .item,
    .field.field--name-field-top-content-blocks > .item > .paragraph
    {
      display: flex;
      flex: 1;
    }
    .field.field--name-field-top-content-blocks > .item > .paragraph > .wrapper
    {
      flex: 1;
    }

  }

  .uws-term__darken-body {

    section.beesbalms.body-content {
      background: $uwmed-off-white;
    }

  }

}
