.footer {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  .row {
    border-top: 1px solid $gray-light;
    padding-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}
.region-footer-second {
  padding-bottom: 4rem;
}
