{{ content.field_blocks[0]|render }}

<div class="cards">
  <div class="container">
    <div class="row">

      {{ content.field_blocks[1]|render }}

      <div class="card col-lg-6 ">
        <h3 class="block-title">Health News You Can Use</h3>
        <span class="uwmed-slant"><span></span></span>
        <div class="wrapper">

          {{ health_news_you_can_use|without('field_heading') }}

        </div>
      </div>
    </div>
  </div>
</div>
