{% set providers = uwm_extract_parts(_cli.careNetworks, 'bioInformations') %}


<div class="row">

    {% for provider in providers %}

        {% set providerNid = uwm_get_api_nid(provider.url) %}

        {% if providerNid %}

            {% set class = [
            loop.index is odd ? 'even' : 'odd',
            'loop-'~ loop.index,
            loop.first ? 'loop-first' : '',
            loop.last ? 'loop-last' : '',
            loop.index == loop.length-1 ? 'loop-last-1' : '' ]
            %}


            <div class="provider-wrapper col-xs-12 col-sm-6 {{ class|uwm_join_parts(' ') }}">
                {{ drupal_entity('node', providerNid, 'card_display') }}


            </div>

        {% endif %}

    {% endfor %}


</div>
