<div class="eCare container">
  <div class="row">
    <div class="col-md-10">
      <h2 class="visible-md visible-lg">You're in control of your eCare, our
        online patient portal</h2>
      <h2 class="hidden-md hidden-lg">eCare Patient Portal</h2>
    </div>
    <div class="ecare__login col-md-2">
      <a class="ecare__login-button btn btn-default" href="/patient-care/ecare">
        <i class="hidden u-ips"></i>
        Log in/Sign up</a>
    </div>
  </div>

  <div class="eCare__information row">
    <div class="eCare__information-item col-sm-6 col-lg-3">
      <h3 class="h5">Appointments</h3>
      <ul>
        <li>Office visits and procedures</li>
        <li>Pregnancy visits</li>
        <li>Vaccine visits</li>
        <li>Well-child visits</li>
        <li>Wellness exams</li>
      </ul>
    </div>

    <div class="eCare__information-item col-sm-6 col-lg-3">
      <h3 class="h5">Your Health</h3>
      <ul>
        <li>Test results</li>
        <li>Billing estimates</li>
        <li>Visit summaries</li>
        <li>Medical history</li>
        <li>Medical records</li>
      </ul>
    </div>

    <div class="eCare__information-item col-sm-6 col-lg-3">
      <h3 class="h5">Your Kids' Health</h3>
      <ul>
        <li>Growth charts</li>
        <li>View their records</li>
        <li>View their test results</li>
        <li>Schedule well-child visit</li>
        <li>Schedule vaccine visit</li>
      </ul>
    </div>

    <div class="eCare__information-item col-sm-6 col-lg-3">
      <h3 class="h5">Self-Service/Message Center</h3>
      <ul>
        <li>Ask your care team a question</li>
        <li>Prescription refills</li>
        <li>Provider referrals</li>
        <li>Health reminders</li>
        <li>Volunteer to be in a study</li>
      </ul>
    </div>
  </div>
</div>

<div class="cards">
  <div class="container">
    <div class="row">
      <div class="card patient-resources col-lg-6">
        <h3 class="h3">Patient Resources</h3>
        <span class="uwmed-slant"><span></span></span>

        <div class="field field--name-field-links-paragraph">

          <div class="item item-1">
            <ul>
              <li class="links-with-icon__item">
                <div class="wrapper"><a class="btn btn-default"
                                        href="/patient-care/billing"><span
                      class="uwmed-icon uwmed-icon__heart-waveform"> </span>
                    Billing and insurance </a></div>
              </li>
            </ul>
          </div>

          <div class="item item-2">
            <ul>
              <li class="links-with-icon__item">
                <div class="wrapper"><a class="btn btn-default"
                                        href="/patient-resources/how-to-prepare"><span
                      class="uwmed-icon uwmed-icon__appointment"> </span>
                    Preparing for your appointment </a></div>
              </li>
            </ul>
          </div>

          <div class="item item-3">
            <ul>
              <li class="links-with-icon__item">
                <div class="wrapper"><a class="btn btn-default"
                                        href="/patient-resources/interpreter-services"><span
                      class="uwmed-icon uwmed-icon__languages"> </span>
                    Interpreter services </a></div>
              </li>
            </ul>
          </div>

          <div class="item item-4">
            <ul>
              <li class="links-with-icon__item">
                <div class="wrapper"><a class="btn btn-default"
                                        href="/neighborhood-clinics/patient-resources/inclement-weather"><span
                      class="uwmed-icon uwmed-icon__patient-resource"> </span>
                    Inclement weather </a></div>
              </li>
            </ul>
          </div>
          <div class="item item-5">
            <ul>
              <li class="links-with-icon__item">
                <div class="wrapper"><a class="btn btn-default" href="http://www.uwmedicine.org/patient-care/patientforms "><span class="uwmed-icon uwmed-icon__patient-resource"></span> Patient forms </a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card col-lg-6 ">
        <h3 class="h3">Health News You Can Use</h3>
        <span class="uwmed-slant"><span></span></span>
        <div class="wrapper">

          {{ health_news_you_can_use|without('field_heading') }}

        </div>
      </div>
    </div>
  </div>
</div>
