<div class="eCare col-xs-12">
  <div class="col-md-9">
    <h2 class="visible-md visible-lg">You're in control of your eCare, our online patient portal</h2>
    <h2 class="hidden-md hidden-lg">eCare Patient Portal</h2>
  </div>
  <div class="ecare__login col-md-3">
    <a class="ecare__login-button btn btn-default" href="/patient-care/ecare">Log in/Sign up</a>
  </div>
</div>

<div class="eCare__information row">
  <div class="eCare__information-item col-sm-6 col-lg-3">
    <h3 class="h5">Manage Appointments</h3>
    <ul>
      <li>Directions</li>
      <li>New problem visit</li>
      <li>Follow-up visit</li>
      <li>Annual wellness visit</li>
      <li>Physical exam</li>
    </ul>
  </div>

  <div class="eCare__information-item col-sm-6 col-lg-3">
    <h3 class="h5">Your Health</h3>
    <ul>
      <li>Test results</li>
      <li>Billing estimates</li>
      <li>Visit summaries</li>
      <li>Medical history</li>
      <li>Care team goals</li>
    </ul>
  </div>

  <div class="eCare__information-item col-sm-6 col-lg-3">
    <h3 class="h5">Your Kids' Health</h3>
    <ul>
      <li>Growth charts</li>
      <li>View their records</li>
      <li>Schedule well-child visit</li>
      <li>Schedule vaccine test</li>
    </ul>
  </div>

  <div class="eCare__information-item col-sm-6 col-lg-3">
    <h3 class="h5">Self-Service/Message Center</h3>
    <ul>
      <li>Ask your care team a question</li>
      <li>Health reminders</li>
      <li>Prescription refills</li>
      <li>Provider referrals</li>
      <li>Volunteer to be in a reserach study</li>
    </ul>
  </div>
</div>

<div class="cards row">
  <div class="card col-lg-6">
    <h3 class="h3">Information</h3>
    <span class="uwmed-slant"><span></span></span>
    <div class="col-lg-6 col-lg-push-6 remove-padding">
      <img class="img img-responsive" src="http://via.placeholder.com/600x300" alt="" />
    </div>
    <div class="col-lg-6 col-lg-pull-6 remove-padding">
      <h4>eCare Smartphone App</h4>
      <ul>
        <li>Download for iOS</li>
        <li>Download for Android</li>
        <li>Sign up to receive eCare news</li>
      </ul>
      <a class="btn btn-default" href="#">View All</a>

    </div>

  </div>

  <div class="card col-lg-6 ">
    <h3 class="h3">Information</h3>
    <span class="uwmed-slant"><span></span></span>
    <div class="col-lg-6 col-lg-push-6 remove-padding">
      <img class="img img-responsive" src="http://via.placeholder.com/600x300" alt="" />
    </div>
    <div class="col-lg-6 col-lg-pull-6 remove-padding">
      <h4>eCare Smartphone App</h4>
      <ul>
        <li>Download for iOS</li>
        <li>Download for Android</li>
        <li>Sign up to receive eCare news</li>
      </ul>

      <a class="btn btn-default" href="#">View All</a>
    </div>

  </div>
</div>
