@media(max-width: $screen-xs-max) {



  body.page-node-type-uwm-provider {

    div.main-container article.uwm-provider {

      .mobile-header {

        margin-bottom: 30px;

        .profile-image {
          padding: 0 15px 6px 0;
        }

        a.block {
          color: $uwmed-pop-blue;
          text-decoration: none;
          display: block;
          &:hover {
            text-decoration: underline;
          }
          .fa {
            float: right;
            padding-top: 3px;
          }
        }

        a.block, p {
          overflow: hidden;
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid #dcdcdc;
        }

      }

      section.right {

        .uwm-tab-content {
          padding: 15px 10px;
        }

      }

    }

  }

}