%box-shadow {
  box-shadow: 1px 1px 10px 1px #dcdcdc;
}

body.page-node-type-uwm-provider {

  div.main-container {

    padding-top: 0;

    @extend %uwmed-gradient-angled-background;

    h1.page-header {

      span.accepting {

        display: inline-block;
        font-size: 14px;
        .fa-check-circle {
          color: green;
        }
        .fa-ban {
          color: red;
        }

      }

    }

  }

  div.main-container article.uwm-provider {

    section {

      div.field {
        div.field--label {
        }
      }

      div.tab-pane {
        @extend .row;
        margin: 0;
      }

    }

    section.left {

      margin-bottom: 40px;

      > .profile-image {
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;

        img {
          @extend %box-shadow;
          width: 100%;
        }

      }

      > .make-an-appointment {

      }

      > .specialities {

      }

      > .languages.l {
        border-bottom: 1px solid #dcdcdc;
        margin-bottom: 20px;
      }

      h5 {
        color: $uwmed-light-purple;
        margin-top: 0;
      }

      div.l {

        padding: 15px 2px;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid transparent;
        font-size: 15px;

        a {
          color: $uwmed-pop-blue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          .fa {
            float: right;
            padding-top: 3px;
          }

        }

      }

    }

    section.right {

      .uwm-tab-content {
        @extend %box-shadow;
        background: $uwmed-white;

        min-height: 600px;
        margin-bottom: 40px;
        padding: 30px;

        .row.tab-pane {
          margin: 0;
        }

        > h3 {
          @include uw-bottom-accent-heading();
        }

        > .overview-tab {

          .col-sm-5.pull-right {
            border-left: 1px solid #dcdcdc;
            margin-left: 25px;
            padding: 25px 0 25px 25px;

            div.paragraph {

              margin-bottom: 25px;
              padding: 10px;
              box-shadow: 1px 1px 10px 1px #dcdcdc;
              background: #f8f8f8;

              .field {
                margin-bottom: 10px;
              }

              .field--name-field-heading {
                @include uw-bottom-accent-heading($uwmed-accent-blue);
              }

            }

          }

        }

        > .locations-tab {

          .provider-location {

            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;
            &:last-child {
              border-bottom-color: transparent;
            }

            .location-image {
              background-size: 120%;
              background-repeat: no-repeat;
              height: 200px;
              background-position: 20% top;

            }
            .col-xs-7.k {

              margin-bottom: 15px;
              padding-left: 45px;

              .uw-ico {
                margin-left: -30px
              }
            }
          }
        }

        > .education-tab {

        }

      }

    }

  }

}


