
body.page-node-type-uwm-provider {

  h1.page-header .title-wrapper {
    @extend small;
  }

  div.main-container {

    @extend %uwmed-gradient-angled-dark-background;
    padding-top: 0;

    article.uwm-provider {

      section div.tab-pane {
        @extend .row;
        margin: 0;
      }

      section.left {

        margin-bottom: 40px;

        //ul li {
        //  margin: 8px 0 0 0;
        //}

        i.uw-hr {
          display: none;
        }

        .profile-image {
          padding-left: 0;
          padding-right: 0;
          img {
            @extend %uwmed-box-shadow, .img-thumbnail;
            max-width: 100%;
            max-height: 434px;
          }
        }

        @media(max-width: $screen-xs-max) {
          .profile-image {
            float: left;
          }
        }

        //> .languages.l {
        //  border-bottom: 1px solid #dcdcdc;
        //  margin-bottom: 20px;
        //}

        h5 {
          color: $uwmed-light-purple;
          margin-top: 0;
        }

        div.l {

          padding-top: 15px;
          padding-bottom: 15px;
          font-size: 15px;
          border-bottom: 1px solid #dcdcdc;
          overflow: hidden;

          &.ll {
            border-top: 1px solid #dcdcdc;
          }

          a {
            color: $uwmed-pop-blue;
            text-decoration: none;
            display: block;
            &:hover {
              text-decoration: underline;
            }
            .fa {
              float: right;
              padding-top: 3px;
            }
          }
        }

      }

      section.right {

        padding-bottom: 40px;

        ul.uwm-nav-tabs > li {
          margin-bottom: 0;
        }

        .uwm-nav-tabs {
          .uw-ico {
            display: none;
          }
        }

        .uwm-tab-content {

          @extend %uwmed-box-shadow;
          background: $uwmed-white;
          min-height: 600px;
          margin-bottom: 40px;
          padding: 20px 30px;

          > h3 {
            @include uw-bottom-accent-heading();
          }

          .provider-location {

            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #dcdcdc;

            &:last-child {
              border-bottom-color: transparent;
            }

            @media (min-width: $screen-sm-max) {
              h4, h5 {
                margin-top: 0;
              }
            }

            .location-image {
              padding: 0;
              img {
                @extend %uwmed-box-shadow, .img-thumbnail;
                width: 100%;
              }

            }

          }

        }

      }

      aside.inner-sidebar {

        &.hidden-xs {
          border-left: 1px solid #f8f8f8;
          margin-left: 25px;
          padding: 0 0 25px 25px;
        }

        div.paragraph {
          margin-bottom: 25px;
          padding: 10px;
          box-shadow: 1px 1px 10px 1px #dcdcdc;
          background: #f8f8f8;

          .field {
            margin-bottom: 10px;
          }

          .field--name-field-heading {
            @include uw-bottom-accent-heading($uwmed-accent-blue);
          }

        }

      }

    }

  }

  .accepting-apts {
    .fa-check-circle {
      color: green;
    }
    .fa-ban {
      color: red;
    }
  }

  h1.page-header span.accepting-apts {
    font-size: 14px;
  }

  @media(max-width: $screen-md-max) {
    h1.page-header span.accepting-apts {
      display: none;
    }
  }

}