/*!
//
// -- Adminimal styling
//
// Used on admin pages.
// ./dist/adminimal_theme/assets/styles.css
// Is referenced from our custom Drupal module stylesheet.
//
 */

@import "../scss/uwm_icons";



body.adminimal {

  // More breathing room on node-edit forms: 
  form {

    tr.odd .form-item, tr.even .form-item {
      margin-bottom: 2em;
    }

    details#edit-group-c {
      margin: 2em 0;
    }

    details details {
      border-color: aliceblue;
    }

    thead th.field-label {
      border-top: 1px solid #dcdcdc;
    }
  }


  // Block on admin pages demonstrating icons: 
  .view.view-uwm-terms.view-display-id-block_1 {

    .item-list {
      float: left;
      width: 100%;
      margin: 10px 0;
      li {
        padding: .5em;
        float: left;
        list-style-type: none;
      }
      li:hover {
        background: aliceblue;
      }
    }
  }

  // Node edit forms:
  form.node-form {

    .form-checkboxes {
      float: left; width: 100%; }

    .form-checkboxes .form-type-checkbox {
      float: left; width: 30%; overflow: hidden;
      &:hover {
        overflow: visible;
        label {
          position: absolute;
          background: aliceblue;
        }
      }
    }


  }


}
