/*!
//
// -- Adminimal styling
//
// Used on admin pages.
// ./dist/adminimal_theme/assets/styles.css
// Is referenced from our custom Drupal module stylesheet.
//
 */
@import "../scss/uwm_icons";

body.adminimal {

  // More breathing room on node forms:
  form.node-form {

    tr.odd .form-wrapper, tr.even .form-wrapper {
      margin-bottom: 2em;

      &.paragraph-type-top, &.paragraph-type-title {
        margin-bottom: 0;
      }
    }

    details#edit-group-c {
      margin: 2em 0;
    }

    details details {
      border-color: aliceblue;
    }

    thead th.field-label {
      border-top: 1px solid #dcdcdc;
    }

    input.form-text {
      width: 100%;
    }

    .form-checkboxes {
      float: left;
      width: 100%;
    }

    .form-checkboxes .form-type-checkbox {
      float: left;
      width: 30%;
      overflow: hidden;

      &:hover {
        overflow: visible;
        label {
          position: absolute;
          background: aliceblue;
        }
      }
    }

    nav.eb-tabs ul li a {
      border-radius: 0;
    }

  }

  // Block on admin pages demonstrating icons:
  .view.view-uwm-terms.view-display-id-block_1 {

    float: left;
    margin: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
    padding: 15px;

    .item-list li {
      padding: 10px;
      float: left;
      list-style-type: none;
      margin: 0;

      &:hover {
        background: aliceblue;

      }
    }
  }

}
