h1 {
  @media (max-width: $screen-xs) {
    font-size: 24px;
  }
}
h2 {
  font-family: $font-family-serif;
  font-weight: bold;
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
  @media (max-width: $screen-xs) {
    font-size: 16px;
  }
}
h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
  @media (max-width: $screen-xs) {
    font-size: 16px;
  }
}
