// - UWM Bootstrap Tabs
//
// Custom styling for Bootstrap nav-tabs element.
//

ul.uwm-nav-tabs {

  border-bottom: 1px solid #dcdcdc;

  > li {

    margin: 0 2px -1px 0;
    padding-bottom: 0;

    > a, > a:hover, > a:focus {

      margin: 0;
      padding: 16px 34px 16px 26px;
      float: left;
      color: $uwmed-white;
      background: $uwmed-solid-dark-purple;
      border: 0 none;
      text-decoration: none;
      text-transform: uppercase;

      i.uw-ico.heart {
        font-size: 26px;
        float: left;
        margin: -6px 4px 0px 0;
      }

    }

  }

  > li.active > a, > li.active > a:hover, > li.active > a:focus {
    color: $uwmed-light-purple;
    background: $uwmed-white;
    border: 0 none;
  }

}

div.uwm-tab-content {

  min-height: 200px;
  border: 0 none;

  .tab-pane.active.in {
  }
  // Sub-tabs:
  div.tab-content, div.uwm-tab-content {
    margin-top: 15px;
  }

}

@media(max-width: $screen-xs-max) {

  ul.uwm-nav-tabs {

    > li {

      max-width: 30%;

      &:first-child > a {
        margin: 0 !important;
      }

      > a, > a:hover, > a:focus {

        padding: 16px;
        text-transform: uppercase;
        text-align: center;
        word-spacing: 100vw; // Force each word onto separate line.
        display: table-cell;
        vertical-align: bottom;
        float: none;

        .uw-ico, .fa {
          display: none;
        }

      }

    }

  }

}