//.page-node-type-uwm-medical-service {
//  .accordion-desktop-container {
//    .panel-list-group-top-level {
//      padding-bottom: 20px;
//
//      .panel {
//        padding-bottom: 40px;
//      }
//    }
//  }
//}

.page-node-type-uwm-medical-specialty, .page-node-type-uwm-medical-service {
  .accordion-mobile-header {
    background-color: #f5f5f5;
    width: 100%;
  }

  #accordion-mobile {

    // Both top-level and sub-level panel styles
    .panel-group {
      margin-bottom: 0;
    }

    .panel {
      box-shadow: none;
    }

    .panel-heading {
      margin: 0;
      padding: 0;
    }

    .panel-title {
      margin: 0;
      padding: 0;

      a {
        display: block;
        padding: 10px 15px;
        font-size: $font-size-base;
        text-decoration: none;
      }

      a:focus {
        text-decoration: none;
      }
    }

    .panel-title a::after {
      font-family: FontAwesome;
      float: right;
    }

    // Top-level panel styles
    .panel-top-level {
      border: none;
      margin-top: 0;
      padding: 0 15px;
    }

    .panel-top-level:last-child {
      border-bottom: 1px solid $uwmed-light-gray;
    }

    .panel-title-top-level {
      a {
        border: none;
        background: $uwmed-accent-orange;
        color: white;
        text-decoration: none;
      }

      a.collapsed {
        border-top: 1px solid $uwmed-light-gray;
        color: $uwmed-body-text-color;
        background: #f5f5f5;
      }

      a:focus {
        text-decoration: none;
      }
    }

    .panel-title-top-level a::after {
      content: "\f077";
    }

    .panel-title-top-level a.collapsed::after {
      content: "\f078";
      color: $uwmed-accent-orange;
    }

    // Sub-level panel styles
    .panel-sub-level {
      margin-top: 15px;
    }

    .panel-heading-sub-level {
      background: none;
    }

    .panel-title-sub-level a:hover, .panel-title-sub-level a:focus  {
      color: $uwmed-body-text-color;
    }

    .panel-title-sub-level a::after {
      content: "\f056";
      color: $uwmed-accent-orange
    }

    .panel-title-sub-level a.collapsed::after {
      content: "\f055";
    }
  }

  .accordion-desktop-container {
    .accordion-desktop-header::after {
      clear: both;
      content: " ";
      display: table;
    }

    & >.panel {
      background: #f5f5f5;
    }

    .panel-list-group-top-level {
      border: none;
      box-shadow: none;
      margin-bottom: 38px;
    }

    .list-group-top-level {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: #f5f5f5;
      padding-top: 38px;
      padding-bottom: 38px;

    }

    .list-group-top-level.row::before {
      content: none;
    }

    .list-group-item-top-level {
      padding: 0;
      border: none;
      width: 32%;
      display: flex;

      a {
        flex: 1;
        text-decoration: none;
        background: $uwmed-accent-orange;
        color: white;
        display: block;
        padding: 10px 15px;
        font-size: $font-size-base;
      }

      a::after {
        font-family: FontAwesome;
        float: right;
        content: "\f078";
      }

      a.collapsed {
        border-top: 1px solid $uwmed-light-gray;
        color: $uwmed-body-text-color;
        background: #f5f5f5;
      }

      a.collapsed:nth-child(-n+3) {
        border-bottom: 1px solid $uwmed-light-gray;
      }

      a.collapsed::after {
        color: $uwmed-accent-orange;
      }
    }

    .list-group-item-top-level-add-margin {
      margin-right: 34%;
    }

    .panel-list-group-top-level {
      .panel {
        margin-bottom: 0;
        border: none;
        box-shadow: none;

        .h4 {
          margin-bottom: 19px;
          margin-top: 38px;
          color: $uwmed-accent-orange;
        }
      }

      >.panel {
        display: flex;
        flex-shrink: 0;
      }
    }

    .top-level-panel {
      border-right: 1px solid $uwmed-light-gray;
      flex-shrink: 0;
    }

    .sub-level-heading-list {
      margin-top: 38px;
    }

    .sub-level-heading-list-item {
      a {
        font-weight: bold;
        text-decoration: none;
        border-bottom: 2px solid $uwmed-accent-orange;
        margin-right: 19px;
      }

      a.collapsed {
        text-decoration: none;
        border-bottom: none;
      }

      a:focus {
        text-decoration: none;
        color: $uwmed-body-text-color;
      }
    }

    .sub-level-panel {
      .h5 {
        margin-top: 0;
      }
    }

  }
}
