.page-node-type-uwm-medical-service, .page-node-type-uwm-medical-specialty {

  .main-container {
    padding-top: 0;
    > .wrapper {
      overflow: hidden;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .field--label {
    @extend .hidden;
  }

  .medical-service-hero {
    position: relative;
    height: 420px;

    @media(max-width: $screen-md-max) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .medical-service-hero__background {
    height: 421px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(71, 71, 71, 0.5);
  }

  .medical-service-hero__content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;

    @media(min-width: $screen-lg-min) {
      text-align: left;
    }
  }

  .medical-service-hero__heading {
    padding-top: $line-height-computed*2;
    padding-bottom: $line-height-computed/2;
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .16);

    @media(min-width: $screen-lg-min) {
      margin-top: 60px;
    }
  }

  .medical-service-hero__subheading {
    padding-bottom: $line-height-computed * 2;
    color: white;
    font-family: $font-family-base;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .16);

    @media(min-width: $screen-lg-min) {
      text-shadow: none;
      padding: 0;
      font-size: $font-size-h2-mobile;
      line-height: $line-height-h2-mobile;
      font-weight: normal;
    }
  }

  .links-with-icon__item {
    font-family: $headings-font-family;
    position: relative;

    a {
      text-decoration: none;
      width: 100%;
      text-align: left;
      background: none;
    }

    .fa-angle-right {
      position: absolute;
      right: 0;
      padding-right: $line-height-computed / 2;
      color: $uwmed-gray-icon;
    }
  }

  .medical-service-hero__links-with-icon {

    &.hidden-lg .links-with-icon__item .btn-default {
      &:hover, &:focus, &:active {
        background: $uwmed-accent-tan;
      }
    }

    .links-with-icon__item {
      border-bottom: 2px solid white;
      padding: 0;

      a {
        border: none;
      }

      .btn-default {
        background-color: $uwmed-accent-tan;

        &:hover {
          background-color: rgba(255, 255, 255, .7);
          color: $text-color;

          .uwmed-icon {
            color: $uwmed-purple-icon;
          }

          .fa-angle-right {
            color: $text-color;
          }
        }
      }

      a {
        border: none;
      }
    }
  }

  .medical-service-hero__links-with-icon__desktop {
    position: relative;
    top: 60px;
    float: right;

    .links-with-icon__item {
      background: none;
      padding-bottom: $padding-base-vertical*2;

      a, .fa-angle-right {
        color: white;
      }

      a {
        width: 90%;
        border: 1px solid rgba(255, 255, 255, .5);
        @include angled-edge('inside top', 'lower right', rgba(255, 255, 255, .23), 15, 15);
        &::before {
          background-position: left 0;
        }

        &:hover {
          &::before {
            background: none;
          }
        }
      }

      .uwmed-icon {
        padding-right: $padding-base-horizontal;
        color: white;
      }

      .btn-default {
        z-index: 1;
        &:hover {
          color: $text-color;

          .uwmed-icon {
            color: $uwmed-purple-icon;
          }

          .fa-angle-right {
            color: $text-color;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(255, 255, 255, .7);
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.7s;
          transition-timing-function: ease-out;
          z-index: -1;
        }

        &:hover {
          &::after {
            transform: scaleX(1);

            @media(hover: none) {
              transition-duration: 0s;
            }
          }
        }
      }
    }
  }

  .medical-service-tabs {
    z-index: 10;
    position: relative;

    @media(min-width: $screen-lg-min) {
      margin-top: -54px;
    }

    ul.nav-tabs {
      display: flex;

      .uw-ico {
        display: none;
      }

      border-bottom: none;
      @media(max-width: $screen-xs-max) {
        padding-left: 0;
      }

      > li {
        margin-bottom: 0;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $uwmed-tab-purple;

        @media(max-width: $screen-xs-max) {
          flex: 1;
        }
      }
      > li > a {
        background: $uwmed-tab-purple;
        color: #fff;
        text-decoration: none;

        @media(max-width: $screen-xs-max) {
          padding: 10px 9px;

          .fa {
            display: none;
          }
        }
      }

      > li.active {
        background: rgba(255, 255, 255, .9);
      }
      > li.active > a {
        color: $uwmed-purple-icon;
        background: transparent;
        border: none;
      }

      @media (max-width: $screen-xs-max) {
        //    padding-right: 0;

        li {
          max-width: 33%;
        }
        //      a {
        //        padding: 12px 8px;
        //        height: 60px;
        //        text-transform: uppercase;
        //        text-align: center;
        //        .fa {
        //          display: none;
        //        }
        //      }
        //      &:first-child > a {
        //
        //        margin: 0 !important;
        //      }
        //    }
      }

    }

    .tab-content {
      background-color: rgba(255, 255, 255, .9);
      display: inline-block;
      width: 100%;
    }
  }

  .container-proof-points {
    padding: 0 15px;
  }

  .field--name-field-proof-points {

    //display: inline-block;
    //width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 15px;

    > .item {
      flex: none;
      width: 100%;

      @media(min-width: $screen-sm-min) {
        flex: 1;
        min-width: 49%;
      }

      @media(min-width: $screen-md-min) {
        min-width: 24%;
        border-right: 1px solid #bababa;
        margin-bottom: 19px;
      }

      .paragraph {
        padding: 0 15px;

        @media(min-width: $screen-md-min) {
          padding: 10px 15px;
        }
        .field.field--name-field-heading .item {
          @extend .h5, %heart-icon-title-field;
        }

      }
    }

    > .item-3:last-child {
      @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        margin-right: 49%;
      }
    }

    > .item:last-child, > .item:nth-child(4) {
      border-right: none;
    }

    .item-last-row-column-1 {
      margin-right: 75%;
    }

    .item-last-row-column-2 {
      margin-right: 50%;
    }

    .item-last-row-column-3 {
      margin-right: 25%;
    }

    .paragraph--type--content-snippet {
      //@include make-sm-column(6);
      //@include make-lg-column(3);
    }
    //article.contextual-region:nth-child(3)

    .field--name-field-text-snippet {
      li {
        padding-bottom: $padding-base-vertical;
      }
    }
    .field--name-field-heading {
      @extend .no-accent, .h5;
    }
  }

  .field--name-field-bottom-content-blocks {
    .field--name-field-heading {
      @extend .no-accent, .h5;
    }
  }

  .field--name-field-proof-points > div:nth-child(2) > div:nth-child(2) {
    @media(max-width: $screen-md-max) {
      //border-right: none;
    }
  }
  .field--name-field-proof-points > div:nth-child(3) > div:nth-child(2) {
    border-bottom: none;
    @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      //border-right: 1px solid #bababa;;
    }
  }
  .field--name-field-proof-points > div:nth-child(4) > div:nth-child(2) {
    border-right: none;
    border-bottom: none;
  }

  // Specialties for Medical Service View
  .view-uwm-medical-specialties-for-service .view-content {
    //display: inline-block;
    //width: 100%;
    display: flex;
    flex-wrap: wrap;

    > .views-row {
      flex: none;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      padding: 0 15px;
      position: relative;

      margin-bottom: 19px;

      @media(min-width: $screen-sm-min) {
        flex: 1;
        min-width: 49%;
      }

      @media(min-width: $screen-md-min) {
        min-width: 33%;
        border-right: 1px solid #bababa;
        padding: 10px 15px;
      }

      //.paragraph {
      //  padding: 0 15px;
      //
      //  @media(min-width: $screen-md-min) {
      //    padding: 10px 15px;
      //  }
      //}
    }

    > .views-row:last-child, > .views-row:nth-child(3) {
      border-right: none;
    }

    .views-row-last-row-column-1 {
      margin-right: 66%;
    }

    .views-row-last-row-column-2 {
      margin-right: 33%;
    }

    //.views-row-last-row-column-3 {
    //  margin-right: 25%;
    //}

    .views-field-title {
      @extend .h5, %heart-icon-title-field;
    }

    .views-field-path {
      @include uw-ghost-button('.btn', '.btn:after', $uwmed-accent-orange);

      padding-top: 12px;
      margin-top: auto;

      .btn:after {
        content: "";
      }
    }
  }

  //.field--name-field-proof-points > div:nth-child(2) > div:nth-child(2) {
  //  @media(max-width: $screen-md-max) {
  //    //border-right: none;
  //  }
  //}
  //.field--name-field-proof-points > div:nth-child(3) > div:nth-child(2) {
  //  border-bottom: none;
  //  @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
  //    //border-right: 1px solid #bababa;;
  //  }
  //}
  //.field--name-field-proof-points > div:nth-child(4) > div:nth-child(2) {
  //  border-right: none;
  //  border-bottom: none;
  //}

  .feature-story {
    position: relative;
  }

  .feature-story__background {
    background-size: cover;
    background-position: center;

    min-height: 430px;
    @include angled-edge('inside bottom', 'upper right', #fff, 50);
    &::after {
      width: 100%;
      margin-bottom: -1px;
    }

    @media(min-width: $screen-lg-min) {
      min-height: 700px;
    }
  }

  .gray-background .field--name-field-feature-story {
    background-color: #f5f5f5;
    @media(min-width: $screen-lg-min) {
      @include angled-edge('inside bottom', 'upper right', #f5f5f5, 50);
    }
  }

  .gray-background .feature-story__background {
    @include angled-edge('inside bottom', 'upper right', #f5f5f5, 50);
  }
;

  .feature-story__title {
    position: absolute;
    top: 0;
    width: 100%;

    .block-title {
      text-transform: uppercase;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
      color: white;
      letter-spacing: .05em;
      margin-bottom: 6px;

      @media(min-width: $screen-lg-min) {
        text-shadow: none;
        color: $text-color;
        margin-top: 38px;
      }
    }

    @media(min-width: $screen-lg-min) {
      background-color: rgba(255, 255, 255, 0.9);
      padding-left: 38px;
      padding-right: 38px;
      top: 36px;
      width: 44%;

      .uwmed-slant span {
        background-color: $uwmed-accent-orange;
      }
    }
  }

  .feature-story__content {
    padding-bottom: 38px;
    width: 100%;

    @media(min-width: $screen-lg-min) {
      background-color: rgba(255, 255, 255, .9);
      position: absolute;
      padding-left: 38px;
      padding-right: 38px;
      top: 116px;
      width: 44%;
    }

    .field--name-field-heading {
      p {
        @extend .h2;
        color: $uwmed-accent-orange;
        margin-top: 0;
      }
    }

    .feature-story__subheading {
      margin-top: $line-height-computed;
      margin-bottom: $line-height-computed;
    }

    @include uw-ghost-button('.feature-story__link', 'i.u-ips', $uwmed-accent-orange);
    margin-top: 0;

    .feature-story__link {
      //text-transform: uppercase;
      //text-decoration: none;
      //font-weight: 600;
      //font-family: $headings-font-family;
      //font-size: $font-size-h6;

      @media(max-width: $screen-md-max) {
        width: 100%;
      }

      @media(min-width: $screen-lg-min) {
        padding-left: 18px;
        padding-right: 18px;
      }

      //  &:hover {
      //    color: white;
      //  }
      //
      //  @include angled-edge('inside top', 'lower right', $uwmed-accent-orange, 15, 15);
      //  &::before {
      //    background-position: left 0;
      //  }
      //  &:hover {
      //    background-color: $uwmed-accent-orange;
      //  }
    }
  }

  .lg-gray-background {
    @media(min-width: $screen-lg-min) {
      background: #f5f5f5;
      margin-bottom: 20px;
    }
  }

  .find-a-location {
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;

    @media(max-width: $screen-md-max) {
      background-color: #f5f5f5;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    }

    .row-lg {
      @media(min-width: $screen-lg-min) {
        @include make-row();
      }
    }
  }

  .find-a-location__content {
    h2 {
      margin-bottom: 19px;
    }

    @media(min-width: $screen-lg-min) {
      h2 {
        margin-top: 0;
      }
    }

    .wait-link {
      margin-left: 17px;
    }
  }

  .find-a-location__heading {
    h2 {
      @extend .boxy-uppercase-title;
    }
    .uwmed-slant span {
      background-color: $uwmed-accent-yellow;
    }
  }

  .find-a-location .links-with-icon__list {
    padding-top: $padding-base-vertical;
    padding-bottom: 38px;
    @media(min-width: $screen-lg-min) {
      @include uw-ghost-button('.links-with-icon__item', 'i.u-ips');
      width: 200px;
    }

  }

  .find-a-location__immediate-prompt {
    margin-top: 20px;
    margin-bottom: 20px;

    @media(min-width: $screen-lg-min) {
      margin-top: 40px;
    }
  }

  .find-a-location .links-with-icon__item {
    //background-color: inherit;
    //color: $text-color;
    //font-weight: 600;
    width: 100%;
    padding: $padding-base-vertical 0;

    @media (max-width: $screen-md-max) {
      border-bottom: 1px solid $uwmed-gray;

      &:nth-of-type(1) {
        border-top: 1px solid $uwmed-gray;
      }

      a {
        //font-size: inherit;
        padding: $padding-base-horizontal 0;
        border: none;

        @media(min-width: $screen-lg-min) {
          color: $text-color;
        }
      }
    }

    @media (min-width: $screen-lg-min) {
      width: 200px;

      //a {
      //  @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
      //  &::before {
      //    background-position: left 0;
      //  }
      //
      //  &:hover {
      //    background-color: $uwmed-accent-yellow;
      //
      //    &::before {
      //      background: none;
      //    }
      //  }
      //}
    }

    .uwmed-icon {
      padding: 0;
    }

    .fa-angle-right {
      line-height: 1.018;
    }
  }

  .find-a-location__map {
    width: 100%;
    min-height: 300px;
    margin-top: $padding-base-vertical;
    margin-bottom: $padding-base-vertical;

    @media(min-width: $screen-lg-min) {
      padding-top: 0;
    }
  }

  .find-a-location__clinic-info {
    margin-top: $padding-base-vertical * 2;
    margin-bottom: $padding-base-vertical * 3;
  }

  .find-a-location__controls {
    padding-bottom: $padding-base-vertical * 3;
  }

  .find-a-location__clinic-list__view-all {
    width: 100%;
    margin-top: $padding-base-vertical *2;
    text-transform: uppercase;
  }

  .find-a-location__clinic-list {
    padding-bottom: $padding-base-vertical * 3;
    padding-top: $padding-base-vertical * 6;
    clear: both;
  }

  .find-a-location__clinic {
    margin-bottom: $padding-base-vertical * 5;

    @media(min-width: $screen-lg-min) {
      margin-bottom: $padding-base-vertical * 3;
      min-height: 170px;

      address p, address h4 {
        margin-right: 15px;
      }

      &:nth-child(odd) > address, &:nth-child(odd) > p {
        margin-bottom: 0;
        padding-bottom: $padding-base-vertical * 3;
        border-right: 2px solid #ccc;
      }
    }
  }
  .find-a-location__clinic, .find-a-location__clinic-info {
    address a {
      text-decoration: none;
    }

    @include uw-ghost-button('.btn-default', 'i.u-ips');

    //.btn-default {
    //  text-transform: uppercase;
    //  text-decoration: none;
    //  font-weight: 600;
    //  font-family: $headings-font-family;
    //  font-size: $font-size-h6;
    //
    //  &:hover {
    //    color: $text-color;
    //  }
    //
    //  @media(min-width: $screen-lg-min) {
    //    padding-left: 18px;
    //    padding-right: 18px;
    //  }
    //
    //  @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
    //  &::before {
    //    background-position: left 0;
    //  }
    //  &:hover {
    //    background-color: $uwmed-accent-yellow;
    //  }
    //}
  }

  .featured-specialties {

    ul {
      @extend .col-xs-12;
    }

    @media (min-width: $screen-lg-min) {
      background-color: #F5F5F5;
    }
    .list__vertical-bar {
      padding-left: 0;

      li {
        list-style-type: none;
        padding: 6px 0 6px 1em;
      }

      li:before {
        content: "|";
        font-size: 12px;
        margin-left: -1em;
        float: left;
        color: $uwmed-purple-icon;
      }
    }

    &.uwm-toggle {
      li:nth-child(n+9) {
        display: none;

      }
      &.on li:nth-child(n+9),
      li.on:nth-child(n+9) {
        display: block;
      }

      .uw-more {
        @extend .col-xs-12;
      }
    }
  }

  .condition-spotlight__heading {
    @extend .boxy-uppercase-title;
    h3 {
      @extend .boxy-uppercase-title;
    }
    .uwmed-slant span {
      background-color: $uwmed-accent-orange;
    }
  }

  .condition-spotlight__title {
    color: $uwmed-accent-orange;
  }

  .condition-spotlight__content.swipe {
    visibility: hidden;
    position: relative;

    @media(min-width: $screen-lg-min) {
      visibility: visible;
    }

    .swipe-wrap {
      overflow: hidden;
      position: relative;
    }
    .swipe-wrap > div {
      float: left;
      width: 100%;
      position: relative;
    }
  }

  .condition-spotlight__item-wrap > .item {
    background-color: #EFEFEF;
    border-left: 3px solid white;
    border-right: 3px solid white;
  }

  .condition-spotlight__item-wrap .wrapper {
    display: flex;
    flex-direction: column;

    height: 340px;

    @media(min-width: 360px) {
      height: 300px;
    }

    @media (min-width: $screen-sm-min) {
      height: 200px;
    }

    @media (min-width: $screen-md-min) {
      height: 175px;
    }

    @media (min-width: $screen-lg-min) {
      height: 400px;
    }

    .field--name-field-link {
      margin-top: 10px;
    }
  }

  .condition-spotlight__content {

    @media(max-width: $screen-md-max) {
      width: 90%;
    }

    .condition-spotlight__item-wrap {
      display: flex;

      div:nth-child(1) {
        z-index: 80;
      }
      div:nth-child(2) {
        z-index: 70;
      }
      div:nth-child(3) {
        z-index: 60;
      }
      div:nth-child(4) {
        z-index: 50;
      }
      div:nth-child(5) {
        z-index: 40;
      }
      div:nth-child(6) {
        z-index: 30;
      }
      div:nth-child(7) {
        z-index: 20;
      }
      div:nth-child(8) {
        z-index: 10;
      }
    }

    .paragraph--type--content-snippet {

    }

    div.field.field--name-field-heading {
      @extend .no-accent, .h5;
    }

    .field--name-field-text-snippet {
      padding-bottom: $padding-base-vertical;
      margin-bottom: 0;
    }

    .field--name-field-link {

      //@include uw-ghost-button('a', 'i.u-ips', $uwmed-accent-orange);
      @include uw-ghost-button('.item', 'i.u-ips', $uwmed-accent-orange);

      a {
        @extend .btn;
        @extend .btn-default;
        padding: 0;
        //
        //text-transform: uppercase;
        //text-decoration: none;
        //font-weight: 600;
        //font-family: $headings-font-family;
        //font-size: $font-size-h6;$font-size-h6

        //position: absolute;
        //bottom: 10px;



        &:hover {
          text-decoration: none;
        }
        //
        //@include angled-edge('inside top', 'lower right', $uwmed-accent-orange, 15, 15);
        //&::before {
        //  background-position: left 0;
        //}
        //&:hover {
        //  background-color: $uwmed-accent-orange;
        //}

      }
    }
  }

  .patient-engagement {
    @extend %uwmed-gradient-angled-dark-background;
    display: inline-block;

    .block-title {
      text-transform: uppercase;
      letter-spacing: .05em;
    }

    .uwmed-slant span {
      background-color: $uwmed-accent-teal;
    }

    .patient-engagement__wrapper {
      padding-top: 19px;
      padding-bottom: 19px;
    }

    .quiz {
      background-color: white;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
      display: inline-block;
      margin-left: 0;

      @media (max-width: $screen-sm-max) {
        padding: 0;
        //margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 19px;
        width: 100%;
      }

      .quizPhoto {
        margin-bottom: 19px;
      }

      .h4 {
        color: $uwmed-accent-teal;
        line-height: 22px;
      }

      .all-quizzes {
        margin-top: 19px;
        p {
          text-align: right;
        }

        a {
          text-transform: uppercase;
          color: #3375D4;
          text-decoration: none;
          font-family: $headings-font-family;
        }

        &.hidden-lg {
          border-top: 2px solid $uwmed-gray;

          p {
            text-align: center;
            margin-top: 9.5px;
            margin-bottom: 9.5px;
          }
        }
      }
    }

    #slickQuiz {
      ol {
        padding-left: 0;
      }

      .answers label {
        font-weight: normal;
        margin-left: 5px;
      }

      @include uw-ghost-button('a.button', 'i.u-ips', $uwmed-accent-teal);

      a.button {
        @extend .btn;
        @extend .btn-default;

        margin-top: 18px;
        margin-bottom: 9.5px;

        //text-transform: uppercase;
        //text-decoration: none;
        //font-weight: 600;
        //font-family: $headings-font-family;
        //font-size: $font-size-h6;

        @media(max-width: $screen-md-max) {
          width: 100%;
        }

        @media(min-width: $screen-lg-min) {
          padding-left: 18px;
          padding-right: 18px;
        }

        &:hover {
          text-decoration: none;
        }

        //
        //@include angled-edge('inside top', 'lower right', $uwmed-accent-teal, 15, 15);
        //&::before {
        //  background-position: left 0;
        //}
        //&:hover {
        //  background-color: $uwmed-accent-teal;
        //}
      }
    }

    .featured-provider {
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $uwmed-gray;

      color: white;

      .h4 {
        margin-top: 0;
        color: white;
      }

      .uwmed-slant span {
        background-color: $uwmed-accent-yellow;
      }

      .block-title {
        text-transform: uppercase;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
        color: white;
        letter-spacing: .05em;
        margin-bottom: 6px;

        @media(max-width: $screen-xs-max) {
          padding-top: 19px;
        }
      }

      @media(min-width: $screen-lg-min) {
        width: 23%;
        float: right;
      }

      .featured-provider__content {

        margin-top: 150px;

        @media(min-width: $screen-md-min) {
          margin-top: 200px;
        }

        @media(min-width: $screen-lg-min) {
          margin-top: 107px;
        }

        .btn {
          margin-bottom: 17px;
          border: 1px solid white;

          text-transform: uppercase;
          text-decoration: none;
          font-weight: 600;
          font-family: $headings-font-family;
          font-size: $font-size-h6;

          color: white;

          @media(max-width: $screen-md-max) {
            width: 100%;
          }

          @media(min-width: $screen-lg-min) {
            padding-left: 18px;
            padding-right: 18px;
          }

          @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
          &::before {
            background-position: left 0;
          }
          &:hover {
            background-color: $uwmed-accent-yellow;
          }
        }
      }
    }
  }

  #carenow {

    .care-now__intro {
      margin-bottom: 38px;
    }

    article.uwm-clinic {

      @extend .col-lg-3, .col-md-4, .col-sm-6;

      @media(min-width: $screen-sm-min) {
        width: 49.9%;
      }

      @media(min-width: $screen-md-min) {
        width: 33%;
      }

      @media(min-width: $screen-lg-min) {
        width: 24.5%;

      }

      .f-li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 15px;
        .fa, .uw-ico {
          position: absolute;
          left: 0;
          top: 2px;
        }
      }

      .clinic__info {
        @extend .well;
        margin: 0;
        border: 0 none;
        .h2, .h3, .h4 {
          margin-top: 0;
        }
        .clinic__clinic-snippet p {
          display: inline;
        }
        //.clinic__name h3 {
        //  @extend h2, .page-title;
        //}

      }

      .clinic__directions {
        @include uw-ghost-button('a', 'i.u-ips', $uwmed-accent-teal);
        position: absolute;
        bottom: 15px;
      }

    }

    .paragraph {

      .bg-featured-image {
        @extend %uwmed-absolute-bg-box;
        display: block !important;
      }

      .wrapper {

        @extend .well-lg, .col-xs-12, .col-md-6, .col-md-offset-5, .col-lg-5, .col-lg-offset-6;
        margin-top: 80px;
        margin-bottom: 100px;
        background: $uwmed-white;
        opacity: .9;

        h2, .h2 {
          @extend .h2;
          color: $uwmed-accent-blue;
          margin-top: 0;
        }

        h3, .h3 {
          @extend .h3, .block-title;
          color: $uwmed-accent-blue;
          margin-top: 0;
        }

        .field.field--name-field-heading {
          @include uw-bottom-accent-heading($uwmed-accent-blue);
          margin-bottom: 30px;
        }
        .field.field.field--name-field-link {
          @include uw-ghost-button('.item', 'i.u-ips', $uwmed-accent-blue);
        }
        .field.field--name-field-featured-image {
          @extend .hidden;
        }
        .field.field--name-field-clinic-wait-time-snippet, .field.field--name-field-clinic-wait-time-snippet * {
          display: inline;
        }
        .field.field--name-field-clinic-wait-time-snippet .field--label {
          display: none !important;
        }
      }

    }

    //@include uw-equal-height-row('.row.flex-row');
    //@include uw-equal-height-row('.row.flex-row > article', '.row.flex-row > article > .wrapper');

    .row.flex-row > article > .wrapper {
      background-color: #F5F5F5;
      margin-bottom: 30px;
      padding-bottom: 15px;
      position: relative;
    }

  }

  #resources {
    .eCare__information {
      margin-bottom: $padding-base-vertical * 3;
    }

    .ecare__login {

      @include uw-ghost-button('.ecare__login-button', 'i.u-ips', $uwmed-tab-purple);

      @media(min-width: $screen-md-min) {
        text-align: right;
      }
    }

    .ecare__login-button {
      //text-transform: uppercase;
      //text-decoration: none;
      //font-weight: 600;
      //font-family: $headings-font-family;
      //font-size: $font-size-h6;

      @media(min-width: $screen-md-min) {
        width: 100%;
        margin-top: 28px;
      }

      //&:hover {
      //  color: white;
      //}
      //
      //@include angled-edge('inside top', 'lower right', $uwmed-tab-purple, 15, 15);
      //&::before {
      //  background-position: left 0;
      //}
      //&:hover {
      //  background-color: $uwmed-tab-purple;
      //}
    }

    .eCare__information-item {

      li {
        padding-bottom: $padding-base-vertical;
      }

      @media (min-width: $screen-sm-min) {
        border-right: 1px solid #bababa;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        border-bottom: 1px solid #bababa;
      }

      &:nth-child(2) {
        @media(max-width: $screen-md-max) {
          border-right: none;
        }
      }

      &:nth-child(3) {
        border-bottom: none;
        @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          border-right: 1px solid #bababa;;
        }
      }

      &:nth-child(4) {
        border-right: none;
        border-bottom: none;
      }
    }
  }

  .cards {
    background-color: #f5f5f5;

    .uwmed-slant span {
      background-color: $uwmed-accent-teal;
    }

    .block-title {
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 6px;
      padding-top: 30px;
      margin-top: 0;
    }

    h4 {
      color: $uwmed-accent-teal;
    }

    .patient-resources {

      h3 {
        @extend .block-title, .boxy-uppercase-title;
        margin-top: 0;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }

      .item-1 li a.btn.btn-default {
        border-top: 1px solid #dcdc;
      }

      a.btn-default {
        text-transform: uppercase;
        text-decoration: none;
        font-family: $headings-font-family;
        font-size: $font-size-h6;
        border: none;
        border-bottom: 1px solid #dcdc;

        padding: $padding-base-vertical * 2;
        padding-left: 0;

        @media(max-width: $screen-md-max) {
          width: 100%;
        }
      }
    }

    .form-actions {
      @include uw-ghost-button('.webform-button--submit', 'i.u-ips', $uwmed-accent-teal);

      //@extend .btn;
      //@extend .btn-default;
      .webform-button--submit {
        @media(max-width: $screen-md-max) {
          width: 100%;
        }

        @media(min-width: $screen-lg-min) {
          padding-left: 18px;
          padding-right: 18px;
        }

      }

      //&:hover {
      //  color: white;
      //}

      //@include angled-edge('inside top', 'lower right', $uwmed-accent-teal, 15, 15);
      //&::before {
      //  background-position: left 0;
      //}
      //&:hover {
      //  background-color: $uwmed-accent-teal;
      //}
    }

    .webform-submission-health-news-signup-form {
      .form-actions {
        margin-bottom: 0;
      }
    }

    .card {
      background: white;
      padding-bottom: 30px;

      @media(max-width: $screen-md-max) {
        margin: 15px;
      }

      @media(min-width: $screen-lg-min) {
        width: 48%;
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .block-views-blockcontent-spotlight-block-1 {

    @include container-fixed();
    margin-top: 19px;
    margin-left: -19px;
    margin-right: -19px;
    background: #f5f5f5;
    padding: 19px;

    .block-title {
      text-align: center;
      @extend .boxy-uppercase-title, .h3;
      @include uw-bottom-accent-heading();
      padding: 20px 0;

      &:after {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: -6px;
      }
    }

    .form-group {
      margin-bottom: 19px;
    }

    .field--name-items {

      @media(min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        margin: 0 19px;
      }
    }

    .item {
      @include make-xs-column(12);
      @include make-sm-column(6);
      margin-bottom: 10px;
      padding: 0;

      @media (min-width: $screen-md-min) {
        width: 24%;
        margin: 0;
      }
    }

    .content-spotlight:hover {
      .content-spotlight__image {
        box-shadow: none;
      }
    }

    .content-spotlight__image {
      min-height: 175px;
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 2000px rgba(114, 114, 114, .35);

      &:hover {
        box-shadow: none;
      }
    }

    .content-spotlight__cta {
      @include uw-ghost-button('a.btn', 'i.u-ips');
      margin: 0;

      a.btn {
        white-space: normal;
        border: none;
        background: white;
        width: 100%;

        @media (min-width: $screen-sm-min) {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-height: 63px;
        }
      }
    }

  }
}

%heart-icon-title-field {
  &:before {
    @extend .uw-ico, .heart;
    float: left;
    padding: 2px;
  }
}