.page-node-type-uwm-medical-service {

  .main-container {
    padding-top: 0;
    > .wrapper {
      overflow: hidden;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .medical-service-hero {
    position: relative;
    height: 360px;

    @media(max-width: $screen-md-max) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }

    @media(min-width: $screen-lg-min) {
      height: 570px;
    }
  }

  .medical-service-hero__background {
    height: 360px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(71, 71, 71, 0.5);


    @media(min-width: $screen-lg-min) {
      @include angled-edge('inside bottom', 'upper right', #fff, 50);
      position: absolute;
      height: 570px;
    }
  }

  .medical-service-hero__content {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;

    @media(min-width: $screen-lg-min) {
      text-align: left;
    }
  }

  .medical-service-hero__heading {
    padding-top: $line-height-computed*2;
    padding-bottom: $line-height-computed/2;
    color: white;

    @media(min-width: $screen-lg-min) {
      margin-top: 60px;
    }
  }

  .medical-service-hero__subheading {
    padding-bottom: $line-height-computed * 2;
    color: white;
    font-family: $font-family-base;

    @media(min-width: $screen-lg-min) {
      padding: 0;
      font-size: $font-size-h2-mobile;
      line-height: $line-height-h2-mobile;
      font-weight: normal;
    }
  }

  .links-with-icon__item {
    font-family: $headings-font-family;
    position: relative;

    a {
      text-decoration: none;
      width: 100%;
      font-size: 16px;
      text-align: left;
      background: none;
    }

    .fa-angle-right {
      position: absolute;
      right: 0;
      padding-right: $line-height-computed / 2;
      color: $uwmed-gray-icon;
    }
  }

  .medical-service-hero__links-with-icon {
    .links-with-icon__item {
      border-bottom: 2px solid white;
      padding: 0;

      a {
        border: none;
      }

      .btn-default {
        background-color: $uwmed-accent-tan;

        &:hover {
          background-color: rgba(255, 255, 255, .7);
          color: $text-color;

          .uwmed-icon {
            color: $uwmed-purple-icon;
          }

          .fa-angle-right {
            color: $text-color;
          }
        }
      }

      a {
        border: none;
      }
    }
  }

  .medical-service-hero__links-with-icon__desktop {
    position: relative;
    top: 60px;
    float: right;

    .links-with-icon__item {
      background: none;
      padding-bottom: $padding-base-vertical*2;

      a, .fa-angle-right {
        color: white;
      }

      a {
        border: 1px solid rgba(255, 255, 255, .5);
        @include angled-edge('inside top', 'lower right', rgba(255, 255, 255, .23), 15, 15);
        &::before {
          background-position: left 0;
        }

        &:hover {
          &::before {
            background: none;
          }
        }
      }

      .uwmed-icon {
        padding-left: $padding-base-horizontal * 1.5;
        padding-right: $padding-base-horizontal;
        color: white;
      }

      .btn-default {
        &:hover {
          background-color: rgba(255, 255, 255, .7);
          color: $text-color;

          .uwmed-icon {
            color: $uwmed-purple-icon;
          }

          .fa-angle-right {
            color: $text-color;
          }
        }
      }
    }
  }

  .medical-service-tabs {
    z-index: 10;
    position: relative;

    @media(min-width: $screen-lg-min) {
      margin-top: -200px;
    }

    ul.nav-tabs {
      border-bottom: none;
      @media(max-width: $screen-xs-max) {
        padding-left: 0;
      }

      > li {
        margin-bottom: 0;
      }
      > li > a {
        height: 40px;
        background: $uwmed-tab-purple;
        color: #fff;
        text-decoration: none;

        @media(max-width: $screen-xs-max) {
          padding: 10px 9px;

          .fa {
            display: none;
          }
        }
      }

      > li.active > a {
        color: $uwmed-purple-icon;
        background: rgba(255, 255, 255, .9);
        border: none;
      }

      > li:first-child > a {
        margin-left: 40px;
      }

      @media (max-width: $screen-xs-max) {
        padding-right: 0;

        li {
          max-width: 33%;
          a {
            padding: 12px 8px;
            height: 60px;
            text-transform: uppercase;
            text-align: center;
            .fa {
              display: none;
            }
          }
          &:first-child > a {

            margin: 0 !important;
          }
        }
      }

    }

    .tab-content {
      background-color: rgba(255, 255, 255, .9);
      display: inline-block;
      width: 100%;
    }
  }

  .field--name-field-proof-points {
    display: inline-block;
    width: 100%;

    .paragraph--type--content-snippet {
      @include make-sm-column(6);
      @include make-lg-column(3);

      @media (min-width: $screen-sm-min) {
        border-right: 1px solid #bababa;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        border-bottom: 1px solid #bababa;
      }
    }
    article.contextual-region:nth-child(3)
    .field--name-field-heading {
      @extend .h5;
    }

    .field--name-field-text-snippet {
      li {
        padding-bottom: $padding-base-vertical;
      }
    }
  }

  .field--name-field-heading {
    @extend .h5;
  }

  .field--name-field-proof-points > div:nth-child(2) > div:nth-child(2) {
    @media(max-width: $screen-md-max) {
      border-right: none;
    }
  }
  .field--name-field-proof-points > div:nth-child(3) > div:nth-child(2) {
    border-bottom: none;
    @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      border-right: 1px solid #bababa;;
    }
  }
  .field--name-field-proof-points > div:nth-child(4) > div:nth-child(2) {
    border-right: none;
    border-bottom: none;
  }

  .medical-service__common-services {
    margin-top: 30px;
    position: relative;
    background-color: #f5f5f5;
    @extend .clearfix;
    padding-bottom: 30px;

    .field--name-field-common-services {
    }
    .common-services__item {
      .paragraph--type--content-snippet {
        @include make-md-column(5);
      }
    }

    .common-services__item:nth-of-type(even) {
      .paragraph--type--content-snippet {
        @include make-md-column-offset(2);
      }
    }

    .field--name-field-heading {
      @extend h5;
    }

    .field--name-field-text-snippet {

      .list__check-circle-o {
        padding-left: 0;

        li {
          list-style-type: none;
          border-top: 1px solid $uwmed-gray;
          padding: 6px 0 6px 1.5em;

          &:last-of-type {
            border-bottom: 1px solid $uwmed-gray;
          }
        }

        li:before {
          content: "\f05d";
          font-family: "FontAwesome";
          width: 10px;
          height: 10px;
          margin-left: -1.5em;
          float: left;
          color: $uwmed-purple-icon;
        }
      }
    }
  }

  .feature-story {
    position: relative;
  }

  .feature-story__background {
    background-size: cover;
    min-height: 346px;
    @include angled-edge('inside bottom', 'upper right', #fff, 50);

    @media(min-width: $screen-lg-min) {
      min-height: 700px;
    }
  }

  .feature-story__title {
    position: absolute;
    top: 0;
    width: 100%;

    .h3 {
      text-transform: uppercase;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
      color: white;
      letter-spacing: .05em;
      margin-bottom: 6px;

      @media(min-width: $screen-lg-min) {
        text-shadow: none;
        color: $text-color;
        margin-top: 38px;
      }
    }

    @media(min-width: $screen-lg-min) {
      background-color: rgba(255, 255, 255, 0.9);
      padding-left: 38px;
      padding-right: 38px;
      top: 36px;
      left: 28px;
      width: 44%;

      .uwmed-slant span {
        background-color: $uwmed-accent-orange;
      }
    }
  }

  .feature-story__content {
    padding-bottom: 38px;
    width: 100%;

    @media(min-width: $screen-lg-min) {
      background-color: rgba(255, 255, 255, .9);
      position: absolute;
      padding-left: 38px;
      padding-right: 38px;
      top: 116px;
      left: 28px;
      width: 44%;
    }

    .field--name-field-heading {
      p {
        @extend .h2;
        color: $uwmed-accent-orange;
        margin-top: 0;
      }
    }

    .feature-story__subheading {
      margin-top: $line-height-computed;
      margin-bottom: $line-height-computed;
    }

    .feature-story__link {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-family: $headings-font-family;
      font-size: $font-size-h3;

      @media(max-width: $screen-md-max) {
        width: 100%;
      }

      @media(min-width: $screen-lg-min) {
        padding-left: 18px;
        padding-right: 18px;
      }

      &:hover {
        color: white;
      }

      @include angled-edge('inside top', 'lower right', $uwmed-accent-orange, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: $uwmed-accent-orange;
      }
    }
  }

  .find-a-location {

    @media(max-width: $screen-md-max) {
      background-color: #f5f5f5;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    }

    .row-lg {
      @media(min-width: $screen-lg-min) {
        @include make-row();
      }
    }
  }

  .find-a-location__heading {
    text-transform: uppercase;

    .uwmed-slant span {
      background-color: $uwmed-accent-yellow;
    }
  }

  .find-a-location .links-with-icon__list {
    padding-top: $padding-base-vertical;
    //padding-bottom: 38px;
  }

  .find-a-location .links-with-icon__item {
    background-color: inherit;
    color: $text-color;
    font-weight: 600;
    padding: $padding-base-vertical 0;

    @media (max-width: $screen-md-max) {
      border-bottom: 1px solid $uwmed-gray;

      &:nth-of-type(1) {
        border-top: 1px solid $uwmed-gray;
      }

      a {
        font-size: inherit;
        padding: $padding-base-horizontal 0;
        border: none;

        @media(min-width: $screen-lg-min) {
          color: $text-color;
        }
      }
    }

    @media (min-width: $screen-lg-min) {
      width: 200px;

      a {
        @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
        &::before {
          background-position: left 0;
        }

        &:hover {
          background-color: $uwmed-accent-yellow;
          
          &::before {
            background: none;
          }
        }
      }
    }

    .uwmed-icon {
      padding: 0;
    }

    .fa-angle-right {
      line-height: 1.018;
    }
  }

  .find-a-location__map {
    width: 100%;
    min-height: 300px;
    margin-top: $padding-base-vertical;
    margin-bottom: $padding-base-vertical;

    @media(min-width: $screen-lg-min) {
      padding-top: 0;
    }
  }

  .find-a-location__clinic-info {
    margin-top: $padding-base-vertical * 2;
    margin-bottom: $padding-base-vertical * 3;

    .h5 {
      margin-top: 0;
    }
  }

  .find-a-location__controls {
    padding-bottom: $padding-base-vertical * 3;
  }

  .find-a-location__clinic-list__view-all {
    width: 100%;
    margin-top: $padding-base-vertical *2;
  }

  .find-a-location__clinic-list {
    padding-bottom: $padding-base-vertical * 3;
  }

  .find-a-location__clinic {
    margin-bottom: $padding-base-vertical * 5;

    @media(min-width: $screen-lg-min) {
      margin-bottom: $padding-base-vertical * 3;
      min-height: 170px;

      address p, address h4 {
        margin-right: 15px;
      }

      &:nth-child(odd) > address, &:nth-child(odd) > p {
        margin-bottom: 0;
        padding-bottom: $padding-base-vertical * 3;
        border-right: 2px solid #ccc;
      }
    }
  }
  .find-a-location__clinic, .find-a-location__clinic-info {
    address a {
      text-decoration: none;
    }

    .btn-default {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-family: $headings-font-family;
      font-size: $font-size-h3;

      &:hover {
        color: $text-color;
      }

      @media(min-width: $screen-lg-min) {
        padding-left: 18px;
        padding-right: 18px;
      }

      @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: $uwmed-accent-yellow;
      }
    }
  }


  .featured-specialties {

    @media (min-width: $screen-lg-min) {
      background-color: #F5F5F5;
    }
    .list__vertical-bar {
      padding-left: 0;

      li {
        list-style-type: none;
        padding: 6px 0 6px 1em;
      }

      li:before {
        content: "|";
        font-size: 12px;
        margin-left: -1em;
        float: left;
        color: $uwmed-purple-icon;
      }
    }
  }



  .condition-spotlight__heading {
    text-transform: uppercase;

    .uwmed-slant span {
      background-color: $uwmed-accent-orange;
    }
  }

  .condition-spotlight__title {
    color: $uwmed-accent-orange;
  }

  .condition-spotlight__content.swipe {
    visibility: hidden;
    position: relative;

    @media(min-width: $screen-lg-min) {
      visibility: visible;
    }

    .swipe-wrap {
      overflow: hidden;
      position: relative;
    }
    .swipe-wrap > div {
      float: left;
      width: 100%;
      position: relative;
    }
  }

  .condition-spotlight__item-wrap > .item {
    background-color: #EFEFEF;
    border-left: 3px solid white;
    border-right: 3px solid white;
    padding: 10px 15px;
  }

  .condition-spotlight__item-wrap .wrapper {
    display: flex;
    flex-direction: column;
    height: 250px;

    @media (min-width: $screen-sm-min) {
      height: 200px;
    }

    @media (min-width: $screen-md-min) {
      height: 175px;
    }

    @media (min-width: $screen-lg-min) {
      height: 375px;
    }

    .field--name-field-link {
      margin-top: auto;
    }
  }

  .condition-spotlight__content {

    @media(max-width: $screen-md-max) {
      width: 90%;
    }

    .condition-spotlight__item-wrap {
      display: flex;

      div:nth-child(1) {
        z-index: 40;
      }
      div:nth-child(2) {
        z-index: 30;
      }
      div:nth-child(3) {
        z-index: 20;
      }
      div:nth-child(4) {
        z-index: 10;
      }
    }

    .paragraph--type--content-snippet {

    }

    .field--name-field-heading p {
      @extend h5;
    }

    .field--name-field-text-snippet {
      padding-bottom: $padding-base-vertical;
    }


    .field--name-field-link a {
      @extend .btn;
      @extend .btn-default;

      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-family: $headings-font-family;
      font-size: $font-size-h3;

      position: absolute;
      bottom: 10px;

      @media(min-width: $screen-lg-min) {
        padding-left: 18px;
        padding-right: 18px;
      }

      &:hover {
        color: white;
      }

      @include angled-edge('inside top', 'lower right', $uwmed-accent-orange, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: $uwmed-accent-orange;
      }

    }
  }

  .patient-engagement {
    background: repeating-linear-gradient(-65deg, #f8f8f8, #f8f8f8 2px, $uwmed-white 2px, $uwmed-white 4px);
    display: inline-block;

    .h3 {
      text-transform: uppercase;
      letter-spacing: .05em;
    }

    .uwmed-slant span {
      background-color: $uwmed-accent-teal;
    }

    .patient-engagement__wrapper {
      padding-top: 19px;
      padding-bottom: 19px;
    }

    .quiz {
      background-color: white;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
      display: inline-block;
      margin-left: 0;

      @media (max-width: $screen-sm-max) {
        padding: 0;
        //margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 19px;
        width: 100%;
      }

      .quizPhoto {
        margin-bottom: 19px;
      }

      .h4 {
        color: $uwmed-accent-teal;
        line-height: 22px;
      }

      .all-quizzes {
        margin-top: 19px;
        p {
          text-align: right;
        }

        a {
          text-transform: uppercase;
          color: #3375D4;
          text-decoration: none;
          font-family: $headings-font-family;
        }

        &.hidden-lg {
          border-top: 2px solid $uwmed-gray;

          p {
            text-align: center;
            margin-top: 9.5px;
            margin-bottom: 9.5px;
          }
        }
      }
    }

    #slickQuiz {
      ol {
        padding-left: 0;
      }

      .answers label {
        font-weight: normal;
        margin-left: 5px;
      }

      a.button {
        @extend .btn;
        @extend .btn-default;

        margin-top: 18px;
        margin-bottom: 9.5px;

        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-family: $headings-font-family;
        font-size: $font-size-h3;

        @media(max-width: $screen-md-max) {
          width: 100%;
        }

        @media(min-width: $screen-lg-min) {
          padding-left: 18px;
          padding-right: 18px;
        }

        &:hover {
          color: white;
          text-decoration: none;
        }

        @include angled-edge('inside top', 'lower right', $uwmed-accent-teal, 15, 15);
        &::before {
          background-position: left 0;
        }
        &:hover {
          background-color: $uwmed-accent-teal;
        }
      }
    }

    .featured-provider {
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $uwmed-gray;

      color: white;

      .h4 {
        margin-top: 0;
        color: white;
      }

      .uwmed-slant span {
        background-color: $uwmed-accent-yellow;
      }

      .h3 {
        text-transform: uppercase;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
        color: white;
        letter-spacing: .05em;
        margin-bottom: 6px;

        @media(max-width: $screen-xs-max) {
          padding-top: 19px;
        }
      }

      @media(min-width: $screen-lg-min) {
        width: 23%;
        float: right;
      }

      .featured-provider__content {

        margin-top: 150px;

        @media(min-width: $screen-md-min) {
          margin-top: 200px;
        }

        @media(min-width: $screen-lg-min) {
          margin-top: 107px;
        }

        .btn {
          margin-bottom: 17px;
          border: 1px solid white;

          text-transform: uppercase;
          text-decoration: none;
          font-weight: 600;
          font-family: $headings-font-family;
          font-size: $font-size-h3;

          color: white;

          @media(max-width: $screen-md-max) {
            width: 100%;
          }

          @media(min-width: $screen-lg-min) {
            padding-left: 18px;
            padding-right: 18px;
          }

          @include angled-edge('inside top', 'lower right', $uwmed-accent-yellow, 15, 15);
          &::before {
            background-position: left 0;
          }
          &:hover {
            background-color: $uwmed-accent-yellow;
          }
        }
      }
    }
  }

  #carenow {
    .care-now__intro {
      margin-bottom: 38px;
    }

    .clinic {
      padding-bottom: 15px;
      margin-bottom: 30px;
    }

    .clinic__info {
      background-color: #F5F5F5;
      padding: 15px;
    }

    address {
      padding-left: 22px;

      @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        min-height: 38px;
      }

      .uw-ico {
        background-color: #F5F5F5;
        height: 20px;
        margin-left: -27px;
      }
    }

    .clinic__wait-time {
      padding-left: 22px;

      .fa {
        margin-right: 9px;
        margin-left: -20px;
      }
    }

    .clinic__directions a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $headings-font-family;

      &:hover {
        color: white;
      }

      @include angled-edge('inside top', 'lower right', $uwmed-accent-teal, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: $uwmed-accent-teal;
      }
    }
  }

  .virtual-clinic {
    position: relative;
    width: 100%;
    padding: 0;
    background-size: cover;

    @media(max-width: $screen-md-max) {
      background-color: #f5f5f5;
      background-image: none;
      padding: 20px;
    }

    .container {
      @media(min-width: $screen-md-min) {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .virtual-clinic__title {
      background-color: white;
      display: inline-block;
      float: left;

      .h3 {
        text-transform: uppercase;
        letter-spacing: .05em;
        margin-bottom: 6px;
        margin-top: 38px;
      }

      padding-left: 38px;
      padding-right: 38px;

      @media(max-width: $screen-sm-max) {
        width: 100%;
      }
      @media(min-width: $screen-lg-min) {
        background-color: rgba(255, 255, 255, 0.9);
      }

      .uwmed-slant span {
        background-color: $uwmed-accent-blue;
      }
    }

    .virtual-clinic__content {
      background-color: white;
      padding-bottom: 38px;
      padding-left: 38px;
      padding-right: 38px;
      float: left;

      @media(min-width: $screen-lg-min) {
        background-color: rgba(255, 255, 255, .9);
      }

      .h2 {
        color: $uwmed-accent-blue;
        margin-bottom: 20px;
      }

      .virtual-clinic__subheading {
        //margin-top: $line-height-computed;
        //margin-bottom: $line-height-computed;
      }

      .virtual-clinic__link {
        margin-top: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        font-family: $headings-font-family;
        font-size: $font-size-h3;

        @media(min-width: $screen-lg-min) {
          padding-left: 18px;
          padding-right: 18px;
        }

        &:hover {
          color: white;
        }

        @include angled-edge('inside top', 'lower right', $uwmed-accent-blue, 15, 15);
        &::before {
          background-position: left 0;
        }
        &:hover {
          background-color: $uwmed-accent-blue;
        }
      }
    }
  }

  #resources {
    .eCare__information {
      margin-bottom: $padding-base-vertical * 3;
    }

    .ecare__login {
      @media(min-width: $screen-md-min) {
        text-align: right;
      }
    }

    .ecare__login-button {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      font-family: $headings-font-family;
      font-size: $font-size-h3;

      @media(min-width: $screen-md-min) {
        width: 100%;
        margin-top: 28px;
      }

      &:hover {
        color: white;
      }

      @include angled-edge('inside top', 'lower right', $uwmed-tab-purple, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: $uwmed-tab-purple;
      }
    }

    .eCare__information-item {
      @media (min-width: $screen-sm-min) {
        border-right: 1px solid #bababa;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        border-bottom: 1px solid #bababa;
      }

      &:nth-child(2) {
        @media(max-width: $screen-md-max) {
          border-right: none;
        }
      }

      &:nth-child(3) {
        border-bottom: none;
        @media(min-width: $screen-sm-min) and (max-width: $screen-md-max) {
          border-right: 1px solid #bababa;;
        }
      }

      &:nth-child(4) {
        border-right: none;
        border-bottom: none;
      }
    }
  }

  .cards {
    background-color: #f5f5f5;

    .uwmed-slant span {
      background-color: $uwmed-accent-teal;
    }

    .h3 {
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 6px;
      padding-top: 30px;
    }

    h4 {
      color: $uwmed-accent-teal;
    }

    .patient-resources {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }

      .item-1 li a.btn.btn-default {
        border-top: 1px solid #dcdc;
      }

      a.btn-default {
        text-transform: uppercase;
        text-decoration: none;
        font-family: $headings-font-family;
        font-size: $font-size-h3;
        border: none;
        border-bottom: 1px solid #dcdc;

        padding: $padding-base-vertical * 2;
        padding-left: 0;

        @media(max-width: $screen-md-max) {
          width: 100%;
        }
      }
    }

    .webform-button--submit {
      @extend .btn;
      @extend .btn-default;

      @media(max-width: $screen-md-max) {
        width: 100%;
      }

      @media(min-width: $screen-lg-min) {
        padding-left: 18px;
        padding-right: 18px;
      }

      &:hover {
        color: white;
      }

      @include angled-edge('inside top', 'lower right', $uwmed-accent-teal, 15, 15);
      &::before {
        background-position: left 0;
      }
      &:hover {
        background-color: $uwmed-accent-teal;
      }
    }


    .card {
      background: white;
      padding-bottom: 30px;

      @media(max-width: $screen-md-max) {
        margin: 15px;
      }

      @media(min-width: $screen-lg-min) {
        width: 48%;
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
