.node-21036 {
  .medical-service-hero__background {
    background-position: left;
  }
  
  .urgent-care-hours-desktop {
    width: 30%;
    float: left;
    color: white;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;

    .opens-at {
      //background: url(/themes/custom/uwmed/dist/assets/UrgentCareWait_Clock.png) bottom right -80px no-repeat transparent;
      padding-top: 20px;
      padding-bottom: 20px;
      color: $uwmed-dark-purple;
      @extend .h4;

      .uw-ico {
        display: none;
      }
    }
  }
  .urgent-care-hours-desktop::before {
    content: "";
    width: 1000px;
    position: absolute;
    left: -70px;
    bottom: -1px;
    top: 0px;
    //background-color: #f5f5f5;
    z-index: -1;
    transform: skewX(-10deg);
    //opacity: .7;

    background: rgba(245, 245, 245, 1);
    //background: url("#{$uw-images-folder}/UrgentCareWait_Clock.png") bottom right -80px no-repeat rgba(245, 245, 245, 1);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%,
            rgba(245, 245, 245, 1) 65%,
            rgba(245, 245, 245, .8) 85%,
            rgba(245, 245, 255, .6) 100%);
  }
  .urgent-care-hours-desktop::after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: url("#{$uw-images-folder}/UrgentCareWait_Clock.png") bottom right -80px no-repeat transparent;

  }

  .clinic-hours-container {
    min-height: 300px;
    padding-top: 15px;
    h4 {
      margin-bottom: 0;
    }
  }

  .opens-at, .hours-header {
    color: $uwmed-light-purple;
  }

  .hours-header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .clinic-hours-table {
    margin-bottom: 40px;

    h2 {
      color: $uwmed-light-purple;
    }

    ul {
      color: $uwmed-body-text-color;
      padding: 0;

      li {
        list-style-type: none;
        padding-bottom: 6px;
        float: left;
        width: 100%;
      }
    }

    strong {
      font-weight: 400;
    }

    span.day {
      float: left;
    }

    span.hours {
      float: right;
    }
  }

  .urgent-care-hours .clinic-hours-table {
    background-color: #f5f5f5;

    .h4 a {
      color: $uwmed-dark-purple;
      text-decoration: none;

      @media(max-width: $screen-md-max) {
        font-size: $font-size-h4-mobile;
        line-height: $line-height-h4-mobile;
      }
    }

    ul li:last-child {
      padding-bottom: 21px;
    }
  }

  .medical-service__common-services.uwm-toggle {
    li {
      display: block;
    }
  }

  .special-hours {
    color: $uwmed-body-text-color;
    margin-bottom: 10px;

    @media(min-width: $screen-lg-min) {
      padding-top: 10px;
    }

    float: left;
  }
}

ul.boxy-ordered-list.list-check-marks {

  @extend .col-xs-12;
  padding: 0;
  margin-bottom: 15px;

  li {
    @extend .col-xs-12, .col-sm-6;
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #b5b5b5;

    &:before {
      content: "\e902";
      font-family: "uwmico";
      float: left;
      margin-left: -16px;
      color: #4B2E83;
    }
  }

  @media(min-width: $screen-xs-max) {

    margin-right: 45px;
    li {
      width: 50%;
      position: relative;
      &:nth-child(even) {
        right: -45px;
      }
      &:nth-child(odd) {
        clear: left;
      }
    }

  }

}


