.node-20456 {
  .urgent-care-hours {
    width: 30%;
    float: left;
    color: white;
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;

    h2 {
      background: url(/themes/custom/uwmed/dist/assets/UrgentCareWait_Clock.png) bottom right -80px no-repeat #f5f5f5;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .urgent-care-hours::before {
    content: "";
    width: 1000px;
    position: absolute;
    left: -120px;
    bottom: -1px;
    top: 0px;
    background-color: #f5f5f5;
    z-index: -1;
    transform: skewX(-10deg);
  }
}