body.page-node-type-uwm-clinic {

  article.uwm-clinic {

    .visible-xs-block.m-head {

      .m-image {
        min-height: 120px;
        position: relative;
        overflow: hidden;
        h1 {
          position: absolute;
          bottom: 0;
          left: 10px;
          color: #fff;
          text-shadow: 2px 2px 2px rgba(0,0,0,.47);

        }

      }

      .m-hours {

        background: $uwmed-white;
        box-shadow: 4px 2px 4px #dcdcdc;

        .clinic-hours-table {

          margin-bottom: 0;

          .intro h4 {
            margin: 0;
            padding: 6px 20px 6px 0;
            font-size: $font-size-base;
            text-transform: uppercase;
            a {
              display: block;
              .fa {
                float: right;
                margin-right: -20px;

              }
              &[aria-expanded="true"] .fa:before {
                //.fa-minus-circle:before
                content: "\f056";
              }
            }
            em {
              text-transform: none;
            }

          }

        }
        .clinic-hours-table:nth-child(2) {
          border-top: 1px solid #dcdcdc;
        }

      }

      .m-address {
        color: $uwmed-pop-blue;
        i.uw-s {
          margin: 0 4px -5px 0;
        }
      }

    }

    @media(max-width: $screen-xs-max) {

      section.clinic-tabs {

        //ul.uwm-nav-tabs {
        //
        //  li {
        //    max-width: 33%;
        //    a {
        //      padding: 12px 8px;
        //      height: 60px;
        //      text-transform: uppercase;
        //      text-align: center;
        //      .fa, .uw-ico {
        //        display: none;
        //      }
        //    }
        //    &:first-child > a {
        //
        //      margin: 0 !important;
        //    }
        //  }
        //}

        //.directions-tab {
        //
        //  .directions-map-wrapper {
        //    //@extend .pull-left;
        //  }
        //}
      }

      section.services {

        li:nth-child(n+6) {
          display: none;
        }
        li.on:nth-child(n+6) {
          display: block;
        }


      }


    }
  }
}

