%gray-background {
  background: repeating-linear-gradient(-65deg, #f8f8f8, #f8f8f8 2px, #fff 2px, #fff 4px);
}

%controls-font {
  font-variant: all-small-caps;
  font-size: 14px;
}

body.page-node-type-uwm-clinic {

  h1.page-header {
    @extend .hidden;
  }

  article.uwm-clinic {

    section {

      @extend .col-xs-12;
      padding-bottom: 40px;

      div.field {
        div.field--label {
        }
      }

      div.field.field--name-field-content-blocks,
      div.field.field--name-field-bottom-content-blocks {

        @extend .row;

        div.paragraph {
          @extend .col-sm-6;
          @extend .col-md-4;

          p.h1.hero__heading {
            display: none;
          }
        }
      }

      h1.page-header, .field--label {
        @extend .hidden;
      }

      div.field.field--name-field-link {
        // call-to-action
        .item {
          float: left;
          width: 100%;
          position: relative;
          overflow: hidden;
          margin: 20px 0 10px 0;
          padding: 0;

          a {
            @extend .btn, .btn-default, %controls-font;
            padding: 5px 18px;
            text-decoration: none;
          }

          i.hidden.u-ips {
            display: block !important;
            @include uw-skew(-45deg);
            position: absolute;
            left: -15px;
            top: 0;
            width: 20px;
            height: 20px;
            background: $uwmed-dark-yellow;
            z-index: 100;
          }
        }
      }

      div.field.field--name-field-links-paragraph {
        float: left;
        width: 100%;

        .item {
          &:last-child li a.btn.btn-default {
            border-bottom: 1px solid #dcdc;
          }

          li {
            list-style-type: none;
          }

          a.btn.btn-default {
            @extend .col-xs-12;
            margin: 0;
            padding: 8px 0 8px 30px;
            border: 0 none;
            border-top: 1px solid #dcdc;
            text-align: left;
            text-decoration: none;

            &:hover {
              background-color: transparent;
              text-decoration: none;
            }

            span.uwmed-icon {
              //@extend .fa .fa-heartbeat;
              @include uw-awesome-ico();
              float: left;
              margin: 2px 0 0 -26px;
              position: relative;
              font-size: 20px;

              &:after {
                //.fa-heartbeat:before
                content: "\f21e";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: white;
              }
            }

            span.fa-angle-right {
              float: right;
            }
          }
        }
      }

    }

    section.clinic-header {

      @extend %gray-background;
      margin-top: -6px;
      padding-top: 20px;

      .field.field--name-field-clinic-image .field--label {
        @extend .hidden;
      }

      .field--name-field-clinic-image {
        margin: 0 -28px 15px -15px;

        img.img-responsive {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      h1, h1 a, h4, h4 a {
        color: $uwmed-light-purple;
      }

      .left {
        div.l, div.ll {
          margin: 0 0 6px 0;
          padding: 6px;
          border-bottom: 1px solid #dcdcdc;
          color: $uwmed-pop-blue;
          font-size: 15px;

          a {
            color: $uwmed-pop-blue;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }

            .fa {
              float: right;
              padding-top: 3px;
            }
          }
        }

        div.ll {
          border-top: 1px solid #dcdcdc;
          padding-top: 10px;
        }

        .get-in-line {
          margin-top: 20px;
          box-shadow: 0 0 4px 0 #dcdcdc;
          background: #f8f8f8;
          padding-bottom: 10px;
          background: url("/themes/custom/uwmed/dist/assets/UrgentCareWait_Clock.png") bottom right no-repeat $uwmed-white;
          color: $uwmed-body-text-color;
          font-size: 28px;

          h4 {
            border-bottom: 5px solid transparent;
            border-image: url('/themes/custom/uwmed/dist/assets/angled-bg-dark.png') 10 10;
            padding-bottom: 10px;

            a, a:hover {
              float: right;
              margin: 0 8px 0 4px;
              font-size: 14px;
              font-variant: all-small-caps;
              text-decoration: none;
              color: $uwmed-pop-blue;

              .fa {
                margin: 0 0 0 5px;
              }
            }
          }

          .wait span.m {
            font-size: 34px;
            font-weight: 600;
            color: $uwmed-light-purple;
          }
        }
      }

      .right {
        .times {
          margin-bottom: 40px;

          h3 {
            border-bottom: 4px solid transparent;
            border-image: url('/themes/custom/uwmed/dist/assets/angled-bg-dark.png') 10 10;
            font-size: 18px;
            padding: 0 0 4px 0;
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              list-style-type: none;
              margin: 0 0 6px 0;
              float: left;
              width: 100%;
            }
          }

          span.day {
            float: left;
          }

          span.hours {
            float: right;
          }
        }

        .u-911 {
          @extend .sml-italic;
          padding-left: 50px;

          .u-911i {
            @extend .pull-left;
            margin: 0 0 0 -50px;
            height: 50px;
            width: 50px;
            background: url('/themes/custom/uwmed/dist/assets/911_Icon.png') top left no-repeat;
          }
        }

        address h4 {
          color: $uwmed-pop-blue;

          i.uw-s {
            @include uw-separator();
            @include uw-skew(-15deg);
            height: 22px;
            width: 10px;
            margin: 0 16px -2px 8px;
            border-right: 1px solid $uwmed-light-gray;
          }
        }
      }
    }

    section.clinic-tabs {

      ul.nav-tabs {
        @extend %gray-background;
        margin: 0 -15px;
        border-bottom: 1px solid #dcdcdc;

        > li > a {
          color: $uwmed-white;
          background: $uwmed-solid-dark-purple;
          text-decoration: none;
          padding: 12px 34px;
        }
        > li.active > a {
          color: $uwmed-light-purple;
          background: $uwmed-white;
          border: 0 none;
        }
        > li:first-child > a {
          margin-left: 40px;
        }
      }

      div.tab-content {
        min-height: 200px;
        border: 0 none;

        h3 {
          @include uw-bottom-accent-heading($uwmed-accent-blue);
        }
        li {
          list-style: none;
          margin-bottom: 1em;
        }

        li .fa {
          padding: 0 10px 0 0;
          color: purple;
        }

        .prov-block img {
          max-width: 150px;
          float: left;
        }

        .view-more {
          text-align: center;
          margin: 40px 0 10px 0;
          border-top: 1px solid #999;
        }
      }
    }

    section.clinic-paragraphs {

      position: relative;
      padding: 0 25px;
      background-color: #f8f8f8;
      min-height: 320px;

      .bg {
        @include angled-edge('inside bottom', 'upper right', #f8f8f8);
        position: absolute;
        left: 0;
        right: 0;
        height: 320px;
        opacity: .9;
        background-color: #f8f8f8;
        //background-image: url('https://cdn.aarp.net/content/dam/travel/destination-images/wyoming/grand-teton-national-park/1400-poi-grand-teton-national-park-snake-river-moose-wildlife.imgcache.rev4a80648c1cc2803e6e4c71cc00ce71bd.web.jpg');

        &::after {
          bottom: 0;
        }
      }

      div.paragraph > .wrapper, h2.bi-line {
        @extend .col-xs-12;
        margin: 30px 0;
        padding: 20px 28px;
        background: $uwmed-white;
        opacity: .8;
        box-shadow: 0 0 4px 0 #dcdcdc;

      }

      div.field.field--name-field-heading {
        .item {
          @extend .h3, %controls-font;
          @include uw-bottom-accent-heading();
        }
      }

    }

    section.clinic-body {

      background-color: #f8f8f8;
      margin-bottom: 30px;

    }

    section.clinic-foot-paragraphs {

      div.field.field--name-field-bottom-content-blocks-head {
        .item {
          @include uw-bottom-accent-heading();
          @extend .h3;
        }
      }

      div.field.field--name-field-heading {
        .item {
          @extend .h4;
        }
      }

      .paragraph {
        border-left: 1px solid #dcdcdc
      }
    }
  }
}
