
body.page-node-type-uwm-clinic {

  h1.page-header, .field--label {
    @extend .hidden;
  }

  div.main-container {

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    article.uwm-clinic {

      section {

        @extend .col-xs-12;
        padding-bottom: 40px;

        div.field {
          div.field--label {
          }
        }

        div.field.field--name-field-content-blocks,
        div.field.field--name-field-bottom-content-blocks {

          @extend .row;

          div.paragraph {
            @extend .col-sm-6;
            @extend .col-md-4;

            p.h1.hero__heading {
              display: none;
            }

            .field--name-field-link {
              padding: 0;
            }
            div.field.field--name-field-links-paragraph > .item ul li {
              padding: 0 0 1em 0;
            }
          }
        }

      }

      section.clinic-header {

        @extend %uwmed-gradient-angled-dark-background;
        padding-top: 20px;
        padding-bottom: 110px;

        @media(min-width: $screen-sm-min) {
          padding-bottom: 90px;
        }

        h1, h1 a, h4, h4 a {
          color: $uwmed-light-purple;
        }

        .left {

          div.l {

            padding: 15px 2px;
            border-bottom: 1px solid #dcdcdc;
            color: $uwmed-pop-blue;
            font-size: 15px;

            a {
              color: $uwmed-pop-blue;
              text-decoration: none;
              display: block;

              &:hover {
                text-decoration: underline;
              }

              .fa {
                float: right;
                padding-top: 3px;
              }
            }
          }

          div.ll {
            //border-bottom-color: transparent;
          }

          .clinic-image {
            min-height: 170px;
            img.img-responsive {
              @extend .img-thumbnail;
              display: block;
              width: 100%;
              max-width: 100%;
              height: auto;
            }
          }

          .get-in-line {
            &.clockwise-js-visibility {
              display: none;
            }
            margin-top: 20px;
            box-shadow: 1px 1px 10px 1px #dcdcdc;
            background: #f8f8f8;
            padding-bottom: 20px;
            background: url("#{$uw-images-folder}/UrgentCareWait_Clock.png") bottom right no-repeat $uwmed-white;
            color: $uwmed-body-text-color;
            font-size: 28px;

            h4 {
              border: 0 none;
              border-bottom: 5px solid transparent;
              border-image: url('#{$uw-images-folder}/angled-bg-dark.png') 10 10;
              padding-bottom: 10px;
              margin-bottom: 20px;
              float: left;
              width: 100%;

              a, a:hover {
                @extend .pull-right, .text-uppercase;
                margin: 0 8px 0 4px;
                font-size: 14px;
                text-decoration: none;
                color: $uwmed-pop-blue;

                .fa {
                  margin: 0 0 0 5px;
                }
              }
            }

            .wait span.m {
              font-size: 34px;
              font-weight: 600;
              color: $uwmed-light-purple;
            }
          }
        }

        .clinic-hours-container {

          min-height: 300px;
          padding-top: 15px;
          h4 {
            margin-bottom: 0;
          }

          .clinic-hours-table {
            margin-bottom: 40px;

            p.opens-at {
              border: 0 none;
              border-bottom: 4px solid transparent;
              border-image: url('#{$uw-images-folder}/angled-bg-dark.png') 10 10;
              padding: 6px 20px 6px 0;
              margin: 0 0 6px 0;
              color: $uwmed-light-purple;

              font-style: italic;
              i.uw-ico {
                @extend .hidden;
              }
            }

            ul {
              padding: 0;

              li {
                list-style-type: none;
                padding-bottom: 6px;
                float: left;
                width: 100%;
              }
            }

            span.day {
              float: left;
            }

            span.hours {
              float: right;
            }
          }

        }
        .u-911 {
          @extend .sml-italic;
          padding-left: 50px;

          .u-911i {
            @extend .pull-left;
            margin: 0 0 0 -50px;
            height: 50px;
            width: 50px;
            background: url('#{$uw-images-folder}/911_Icon.png') top left no-repeat;
          }
        }

        address {
          @extend .h4;
          color: $uwmed-pop-blue;
          a {
            color: $uwmed-pop-blue;
            text-decoration: none;
          }
          small.tel, small.tel a {
            color: $uwmed-medium-gray;

          }
          small.tel a:hover {
            color: $uwmed-pop-blue;
          }

          i.uw-s {
            @include uw-separator();
            @include uw-skew(-15deg);
            height: 22px;
            width: 10px;
            margin: 0 8px -2px 3px;
            border-right: 1px solid $uwmed-light-gray;
          }
        }

      }

      section.clinic-tabs {

        > .row {

          margin-top: -69px;

          @media(min-width: $screen-sm-min) {
            margin-top: -50px;
          }
        }

        ul.uwm-nav-tabs {
          .uw-ico {
            display: none;
          }

          border-bottom: 1px solid #dcdcdc;

        }

        div.uwm-tab-content {
          min-height: 200px;
          border: 0 none;
          //padding: 12px 0;


          // sub nav-tabs
          ul.nav-tabs {

            border: 0 none;
            > li > a {
              border: 1px solid transparent;
              text-decoration: none;
            }
            > li.active > a, > li.active > a:hover, > li.active > a:focus {
              border-bottom: 1px solid #ddd;
              text-decoration: none;
              color: green;
            }
            > li.disabled {
              opacity: .4;
            }
            i.uw-ico {
              font-size: 18px;
            }

          }

          .directions-tab {

            .directions-map-wrapper {
              position: relative;
              margin-bottom: 30px;
              padding-bottom: 75%; // This is the aspect ratio
              height: 0;
              overflow: hidden;

              iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100% !important;
                height: 100% !important;
              }
            }

          }

          .providers-tab {

            @media(max-width: $screen-xs-max) {
              .provider, .provider.even, .provider.odd,
              .provider.even.loop-last, .provider.even.loop-last-1 {
                border-bottom: 1px solid #dcdcdc;
                border-right-color: transparent;
              }
            }

            .provider {
              border-bottom: 1px solid #dcdcdc;
              border-right: 1px solid #dcdcdc;
              &.odd {
                border-right-color: transparent;
              }
              &.loop-last, &.loop-last-1 {
                border-bottom-color: transparent;
              }
              .wrapper {

                padding-top: 20px;
                padding-bottom: 20px;

                @media(min-width: $screen-xs-max) and (max-width: $screen-sm-max) {
                  min-height: 350px;
                }

                .profile-image {

                  @extend .pull-left;

                  margin: 0 20px 20px 0;
                  width: 180px;
                  max-width: 35%;
                  height: 240px;
                  overflow: hidden;

                  img {
                    @extend .img-thumbnail;
                    width: 100%;
                  }

                }

                .profile-details {

                  > div, h4 {
                    margin: 0 0 16px 0;
                  }

                  .specialities {

                    i.toggle {
                      cursor: pointer;
                      color: $uwmed-pop-blue;
                    }
                    .collapse.in {
                      display: initial;
                    }

                  }

                }

                i.fa-check-circle {
                  color: green;
                }
                i.fa-ban {
                  color: red;
                }

                div.accepting-apts-cta {

                  @include uw-ghost-button('a.btn', 'i.u-ips', $uwmed-light-purple);
                  margin: 0;
                  width: 100%;

                  a.btn {
                    width: 180px;
                    padding: 4px;
                    &.disabled {
                      opacity: .4;
                    }
                    &:hover {
                      color: $uwmed-white;
                    }
                  }

                }

              }

            }

          }

        }

      }

      section.services {

        ul {
          padding-left: 0;

          li {
            @extend .col-xs-12, .col-sm-6, .col-md-3;
            list-style: none;
            padding: 0 0 1em 0px;

            .fa {
              float: left;
              margin: 2px 0 0 -20px;
              color: purple;
            }
          }
          li:nth-child(n+6) {
            display: none;
          }
          li.on:nth-child(n+6) {
            display: block;
          }

        }



      }

      section.clinic-paragraphs {

        position: relative;
        //padding: 0 25px;
        background-color: #f8f8f8;
        min-height: 450px;

        .bg {
          @include angled-edge('inside bottom', 'upper right', #f8f8f8);
          position: absolute;
          left: 0;
          right: 0;
          height: 450px;
          opacity: .9;
          background-color: #f8f8f8;
          background-image: url('#{$uw-images-folder}/bg-clinic-ppgs.jpg');
          background-size: cover;

          &::after {
            bottom: 0;
          }
        }

        div.paragraph > .wrapper {
          @extend .col-xs-12;
          margin: 30px 0;
          padding: 20px 28px;
          background: $uwmed-white;
          opacity: .8;
          box-shadow: 0 0 4px 0 #dcdcdc;
          min-height: 340px;
        }

        h2 .field.field--name-field-content-blocks-heading {
          @extend .col-xs-12;
          margin: 30px 0 0px 0;
          color: #fff;
          box-shadow: none;
          padding: 0;
          text-shadow: 0 0 1px #dcdcdc;
        }

      }

      section.clinic-body {

        background-color: #f8f8f8;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 45px;

      }

      section.clinic-foot-paragraphs {

        div.field.field--name-field-bottom-content-blocks-head {
          .item {
            @include uw-bottom-accent-heading();
            @extend .h3;
            margin-bottom: 40px
          }
        }

        div.field.field--name-field-heading {
          .item {
            @extend .h4;
          }
        }

        .paragraph {
          border-left: 1px solid #dcdcdc
        }
      }
    }
  }
}