
body > footer {

  margin-top: 30px;
  .row.blocks-row {

  }

  .row.navigation-row {

    .foot-first, .foot-second {

      .nav > li {
        @extend .col-md-6;

        padding-right: 0;
        padding-bottom: 15px;

        a {
          text-decoration: none;
          padding: 0;
          i.uw-s {
            @include uw-separator();
            float: left;
            height: 15px;
            width: 8px;
            margin: 1px 0 0px -10px;
            border-left: 1px solid $uwmed-dark-purple;
          }
          &:hover {
            text-decoration: none;
            background-color: initial;
            color: $uwmed-pop-blue;
            i.uw-s {
              @include uw-skew(-15deg);

            }
          }
        }
      }
    }

    .foot-third.hidden-xs, .foot-fourth {
      @extend .pull-right, .text-right;
      padding-right: 30px;
    }

    .foot-third {

      @media (min-width: $screen-md-min) {
        margin-bottom: -30px;
        z-index: 2;
      }

      .service-icons {
        color: $uwmed-medium-gray;
        a {
          color: $uwmed-medium-gray;
          text-decoration: none;
          &:hover {
            color: $uwmed-pop-blue;
            text-decoration: none;
          }
        }

        i.uw-s {
          @include uw-separator(-15deg);
          height: 22px;
          width: 2px;
          margin: 0 10px -2px 5px;
          border-right-color: $uwmed-medium-gray;
        }

      }

    }

    .foot-fourth {
      padding-top: 15px;
      padding-bottom: 15px;
      a.logo {
        display: inline-block;
      }

    }

  }

  .row.enterprise-row {

    padding-top: 18px;
    background: $uwmed-gradient-light-to-dark;
    border-top: 3px solid $uwmed-light-gray;
    color: #fff;

    a, a:hover {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
    }

    .first, .second {
      padding-bottom: 15px;

    }
    .first.copyright {
      padding-right: 0;
    }

    .second.navigation {

      @extend .pull-right, .text-right;

      .nav {
        li {
          display: inline-block;
          a {
            padding: 0 2px 0 0;
            &:after {
              content: "|";
              margin: 0 0 0 4px;
            }

          }
          &:last-child a:after {
            content: "";
          }

        }

      }
    }
  }
}







