

footer {

  .row.blocks-row {


  }


  .row.navigation-row {


    .foot-first, .foot-second {

      .nav > li {
        margin-bottom: 17px;
        @extend .col-md-6;
        a {
          text-decoration: none;
          padding: 0;
          i.uw-s {
            height: 16px;
            width: 16px;
            margin: 0 6px -3px 0;
            border-right-color: $uwmed-dark-purple;
          }
          &:hover {
            text-decoration: none;
            background-color: initial;
            color: $uwmed-pop-blue;
            i.uw-s {
              @extend .skew;
            }
          }
        }
      }
    }

    .foot-third {

      @extend .text-right;
      .service-icons {
        font-size: 19px;
        color: $uwmed-medium-gray;
        a {
          color: $uwmed-medium-gray;
          &:hover {
            color: $uwmed-pop-blue;
          }
        }

        i.uw-s {
          height: 22px;
          width: 18px;
          margin: 0 9px -4px 0;
          border-right-color: $uwmed-medium-gray;
          @extend i.uw-s.skew
        }

      }

    }

    .foot-fourth {
      @extend .text-right;
      a.logo {
        display: inline-block;
        margin: 30px 20px 0 20px;
      }

    }


  }


  .row.enterprise-row {

    margin-top: 2.5em;
    padding: 1em;
    background: $uwmed-gradient-light-to-dark;
    border-top: 3px solid $uwmed-light-gray;
    color: #fff;

    a, a:hover {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
    }

    .enterprise-nav .nav {

      li {
        @extend .pull-right;
      }
      li:first-child a:after {
        content: "";
      }
      li a {
        padding: 0;
        &:after {
          content: " | ";
          padding: 0 1em;
        }
      }

    }

  }

}




