@media(max-width: $screen-xs-max) {

  body > footer {

    .wrapper {
      padding: 0;
    }

    .row.navigation-row {

      .menu.nav i.uw-s {
        display: none;
      }

      .foot-third {

        background: #EFEFEF;
        padding: 15px;
        text-align: center;
      }

      .foot-first, .foot-second, .foot-third, .foot-fourth {
        text-align: center;
      }

    }

    .row.enterprise-row {

      > div {
        padding-top: 6px;
        padding-bottom: 6px;
      }

      .first.copyright, .second.navigation {
        text-align: center;
      }

    }

  }

}