header {

  .row.h-purple {

    color: #fff;
    padding: 1em 0;
    background: $uwmed-gradient-light-to-dark;

    .header-logo {
      a.logo {
        margin: 10px 15px;
        display: inline-block;
      }
    }

    .header-search {
      input.form-control {
        background-color:rgba(255, 255, 255, 0.5);
        color: #fff;
        border: none;
      }
      i.fa.fa-search {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 16px;
        cursor: pointer;
        z-index: 10;
        height: 30px;
        width: 30px;
        padding: 8px;
      }
    }
    .header-landings-nav {

      li {
        @extend .pull-right;
      }
      li > a {
        color: #fff;
        &:hover {
          color: #fff;
          background-color: transparent;
          text-decoration: underline;
        }
      }

      li > i.uw-b {
        @include uw-skew(-15deg);
        //transform: rotate(15deg);
        width: 1px;
        height: 12px;
        opacity: .2;
        background: #fff;
        display: inline-block;
        margin: 12px 2px 0 2px;
        box-shadow: 0 3px 0;
      }

    }

  }

  .row.h-white {

    height: 50px;

    .header-main-navigation {

      ul.nav > li {

        padding: 0;

        a {
          &:hover {
            color: #3375d4;
            background: transparent;
          }
        }

        i.uw-b {
          @include uw-skew(-15deg);
          //transform: rotate(15deg);
          width: 1px;
          height: 30px;
          opacity: .2;
          background: #000;
          display: inline-block;
          margin: 10px 6px 0 6px;
          box-shadow: 0 3px 0;
        }

        ul.dropdown-menu {

          z-index: 5;
          box-shadow: none;
          margin-top: 0;
          border-top: 0 solid transparent;

          li {
            a {

              padding: 8px 6px 8px 0;
              border-bottom: 1px solid #e5e5e6;
              margin: 0 8px;

              i.fa.fa-angle-right {
                float: right;
                display: block;
                padding: 2px 0 0 0;
              }

            }
            &:last-child > a {
              border-bottom: none;
            }

          }

        }

      }
      .navbar {
        margin: 0;
      }

    }

    .header-gift {

      overflow: hidden;
      .wrap {
        position: relative;
        float: right;
        background: #e5e5e6;
        //@include angled-edge('outside bottom','lower right', #EE3924);
        margin-right: -15px;
        padding-right: 15px;
        .bg {
          position: absolute;
          border-left: 4px solid #999;
          background: #e5e5e6;
          width: 50px;
          height: 100px;
          left: -25px;
          top: -25px;
          transform: rotate(7.5deg);
        }
        .nav li a {
          display: inline-block;
          font-variant: all-small-caps;
          font-size: 12px;
          &:hover {
            background: transparent;
          }
        }

      }

    }

    .shadow {
      height: 6px;
      box-shadow: 0px 3px 6px #dcdcdc;
      margin-top: -8px;
      z-index: 10;
    }

  }

}
