//  -- Scafolding
//
// Top-level containers and rules.
//
body {

  header {

  }

  div.main-container {

    .paragraph {

      input {
        width: 100%;
        background: #dcdcdc;
        opacity: .6;
        border: 1px solid #333;
        margin: 0 0 5px 0;
        padding: 4px;

        &::placeholder {
          text-transform: uppercase;
        }
      }

      p {
        margin-bottom: 12px;
      }

    }

  }

  footer {

  }

  a:hover, a:focus {
    transition-duration: 600ms;
  }

  pre {
    max-height: 300px;
    overflow: auto;
  }

}

.remove-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.collapse-mobile {
  @extend .hidden-xs;
}

.collapse-mobile.in {
  @extend .visible-xs-block;
}








