//  -- Scafolding
//
// Top-level containers and rules.
//
body {

  header {

  }

  div.main-container {

    padding-top: 100px;
    min-height: 400px;

    .page-left {
    }

    .page-right {

    }
    .page-center {

      article {

        img {
          max-width: 100%;
        }

        ul.nav-tabs > li {
          padding-bottom: 0;
        }

      }

    }

  }

  footer {

  }

  a:hover, a:focus {
    transition-duration: 400ms;
  }

  pre {
    max-height: 300px;
    overflow: auto;
  }

}

.remove-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.collapse-mobile {
  @extend .hidden-xs;
}

.collapse-mobile.in {
  @extend .visible-xs-block;
}

.fade-out, .fade-out p {
  opacity: .05;
}

.fade-in, .fade-in p {
  opacity: 1;
}

h2.accent, h3.accent, h4.accent {
  @include uw-bottom-accent-heading($uwmed-accent-blue);
}

.form-required:after {
  background-image: none;
}
