//  -- Scafolding
//
// Top-level containers and rules.
//
body {

  header {

  }

  div.main-container {

    padding-top: 100px;
    min-height: 400px;

    section.content-header {
      @extend .container-lg, .clearfix;
      .region-help {
        margin: 20px 0;
      }
      div.alert {
        @extend .col-xs-12;
        margin: 15px 0;
      }

    }

    aside.page-left {
    }

    aside.page-right {
    }

    section.page-center {

      article {

        img {
          max-width: 100%;
        }

        ul.nav-tabs > li {
          padding-bottom: 0;
        }

      }

    }

  }

  footer {

  }

  a:hover, a:focus {
    @include uwmed-link-color-transition-timing();
  }

  pre {
    max-height: 300px;
    overflow: auto;
  }

}

body.page-node-type-page, body.path-webform {

  .main-container {
    @extend .container-lg;
    padding-top: 0;
  }

}

@media(min-width: $screen-md-min) {

  form.webform-submission-form {
    max-width: 700px;
    margin-right: 18%;
  }

}

.remove-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.collapse-mobile {
  @extend .hidden-xs;
}

.collapse-mobile.in {
  @extend .visible-xs-block;
}

.fade-out, .fade-out p {
  opacity: 0;
}

.fade-in, .fade-in p {
  opacity: 1;
}

h2.accent, h3.accent, h4.accent {
  @extend .block-title;
  @include uw-bottom-accent-heading($uwmed-accent-blue);
  margin: 19px 0;
}

.form-required:after {
  background-image: none;
}

.well, .uw-well {
  @include uw-well();
}

.full-float {
  float: left;
  width: 100%;

}

@include uw-equal-height-row('.flex-row', '.flex-item');

div.uwm-right-letterbox {
  @extend .well, .uw-well, .col-xs-4, .col-sm-2, .pull-right;
  margin: 15px;
  padding: 15px;
  border-top: 1px solid $uwmed-light-gray;
  border-bottom: 1px solid $uwmed-light-gray;
}

.uw-video-wrapper {
  .v-thumbnail {
    position: relative;
    a {
      position: relative;
      display: block;
      .v-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        font-size: 80px;
        opacity: .7;
      }
      &:hover .v-play-button {
        opacity: 1;
      }
    }
  }

}

video.uw-mpx-video {
  max-width: 100%;
}
iframe.uw-mpx-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 400px;
}